.header {
    background-color: #e4e5ea;
}

.header-inner {
    position: relative;
    height: 60px;
    padding: 9px 25px 0;
}

.header-mid {
    position: relative;
    height: 60px;
}

.header-mid-logo {
    position: absolute;
    width: 38px;
    height: 32px;
    right: 30px;
    top: 10px;
    background-image: url(/i/lightsoft-white-logo.png);
    background-repeat: no-repeat;
}

.header-logo {
    color: #475669;
    font-weight: bold;
    font-size: 21px;
    text-decoration: none;
    text-transform: uppercase;
    float: right;
    padding-top: 10px;
    margin-right: 55px;
}



.site-nav {
    position: relative;
    font-size: 0;
    border-bottom: 1px solid #eee;
    font-family: 'apercu_pro', sans-serif;
    margin: 0px 25px 0px;
    background-color: white;
}


.site-nav__item {
    display: inline-block;
    width: auto;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    line-height: 20px;
    padding: 15px 0px;
    font-family: 'apercu_pro', sans-serif;
    margin-right: 20px;
}

.site-nav__item.active {
    position: relative;
    color: #475669;
}

.site-nav__actions {
    position: absolute;
    border: 1px solid #e4e5ea;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    width: 310px;
    z-index: 200;
    text-align: left;
    font-weight: normal;
    top: 41px;
    background-color: white;
}

.site-nav__actions-item {
    border-bottom: 1px solid #e4e5ea;
    padding-top: 5px;
    padding-bottom: 5px;
}

.site-nav__actions-item > * {
    font-size: 14px;
    display: block;
    padding: 5px 10px;
    cursor: pointer;
    color: #222;
}

.fa-plus-wrap {
    position: relative;
}

.site-nav__actions-item .fa-plus {
    color: #3687c5;
    top: 7px;
    position: absolute;
    right: 3px;
}

.site-nav__actions-item > div a {
    margin-right: 8px;
    color: #222;
}

.site-nav__item.active::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #475669;
    color: #475669;
}

.site-nav__item.active a {
    color: #475669;
}

.header__user-block,
.header__ava-block,
.header__info-block {
    display: inline-block;
    vertical-align: middle;
}

.header__ava-block {
    width: 40px;
    height: 40px;
    margin-right: 7px;
}

.header__ava {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__ava-block img {
    width: 40px;
    height: 40px;
    border-radius: 2px;
}

.title-h1 {
    color: #475669;
}

.user-name {
    color: #475669;
    display: inline-block;
    vertical-align: middle;
    font-family: 'apercu_pro', sans-serif;
    font-size: 25px;
    line-height: 31px;
}

.site-nav__authorization {
    float: right;
    display: inline-block;
    padding-top: 15px;
    color: #999;
    font-size: 15px;
}

.site-nav__authorization:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1023px) {
    .header-inner {
        padding: 10px 10px;
    }

    .header__user {
        padding: 10px 15px;
        margin-top: 20px;
    }

    .menu-switch {
        display: inline-block;
        vertical-align: top;
        background: linear-gradient(to bottom, #000000 0%, #000000 15%, transparent 10%, transparent 45%, #000000 50%, #000000 60%, transparent 0%, transparent 85%, #000000 90%, #000000 100%);
        width: 30px;
        height: 23px;
        margin-top: 11px;
        margin-right: 12px;
    }

    .header__user-profie {
        display: inline-block;
    }
}

@media screen and (max-width: 659px) {
    .header__nav {
        display: none;
    }

    .header__logo {
        margin: 0 auto;
        display: block;
    }

}

@media screen and (max-width: 659px) {
    .site-nav {
        padding: 0 10px 40px;
    }

    .header__info-block {
        display: none;
    }

}

@media screen and (max-width: 479px) {

    .header-inner {
        padding: 9px 20px 0;
    }

    .header-mid-logo {
        right: 20px;
    }

    .user-name {
        font-size: 21px;
    }

    .header-inner {
        padding: 9px 20px 0;
    }

    .header-mid-logo {
        right: 20px;
    }
}