.filter__block {

}

.section-tag--new {
    width: 100%;
}

.section-tag__block {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.section--grey {
    position: relative;
    padding: 15px;
    background: #e4e5ea;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'apercu_pro', sans-serif;
    color: #475669;
    font-size: 14px;
}

.section-tag__block.section-tag__block--filter .filter__tag {
    padding-right: 15px;
    margin-right: 0;
}

.section-tag__block.section-tag__block--filter .filter__tag-close {
    display: none;
}

.section-tag__block.section-tag__block--filter.active .filter__tag-close {
    display: block;
}

.section-tag__block.section-tag__block--filter.active {
    background-color: #ff8e41;
}

.section-tag__block.section-tag__block--filter.active .filter__tag {
    padding-right: 35px;
}

.filter__inp-block {
    position: relative;
    border: 1px solid #ccc;
    width: 500px;
    border-radius: 2px;
    height: 36px;
    box-sizing: border-box;
    background: #fff;
    padding-bottom: 3px;
}

.filter__inp {
    width: 100%;
    height: 100%;
    font-size: 14px;
    box-sizing: border-box;
    font-family: 'apercu_pro', sans-serif;
    color: #475669;
    padding: 3px 10px 2px;
    border: none;
    /*line-height: 36px;*/
    font-weight: bold;
    /*z-index: 1;*/
}

.filter__filter-open {
    position: absolute;
    right: -97px;
    top: 8px;
    text-decoration: none;
}

.section-tag {
    display: inline-block;
}

.filter__filter-open:hover {
    text-decoration: none;
}

.filter-icon {
    font-size: 18px;
    color: #ff8e41;
}

.filter__filter-open span {
    color: #ff8e41;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 7px;
}

.filter__inp-block--sm {
    width: 85px;
}

.filter__tag {
    display: inline-block;
    position: relative;
    padding: 7px 35px 9px 15px;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-right: 5px;
}

.filter__tag.no-del {
    padding-right: 15px;
}

.filter__cnt {
    font-size: 14px;
    font-family: 'apercu_pro', sans-serif;
    color: #475669;
    line-height: 18px;
}

.filter-pp__lang .filter-pp__lang-lbl {
    font-family: 'apercu_pro', sans-serif;
    color: #ff8e41;
    font-size: 14px;
    text-align: left;
    position: relative;
    background-color: white;
    padding: 9.6px 12px;
    cursor: pointer;
    border-radius: 5px;
    display: block;text-transform: uppercase;
}

.filter-pp__lang input:checked + .filter-pp__lang-lbl {
    background: #ff8e41;
    color: white;
}

.filter-pp__lang {
    display: inline-block;
    vertical-align: middle;
}

.filter__tag-change {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.filter__tag-change .filter-icon {
    font-size: 17px;
    color: #475669;
}

.filter__tag-close {
    position: absolute;
    right: 8px;
    top: 11px;
    width: 12px;
    height: 12px;
    background: url(/i/close-12x12.png) no-repeat;
    cursor: pointer;
}

.filter__tag-close:hover {
    background: url(../../i/close-12x12-red.png) no-repeat;
}

.sort-box {
    font-size: 14px;
    padding: 7px 0px 7px 0px;
    font-family: 'apercu_pro', sans-serif;
    margin-top: 12px;
    padding-bottom: 0;
}

.sort-box span {
    padding-right: 20px;
    color: #475669;
}

.sort-box a {
    padding-right: 20px;
    color: #ff8e41;
}

.filter-pp__container {
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    /*position: fixed;*/
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 10px 15px;
    z-index: 100;
    display: none;
    overflow-y: auto;
}

.filter-pp {
    position: relative;
    z-index: 101;
    background: #e4e5ea;
    width: 500px;
    min-width: 290px;
    /*height: 100%;*/
    height: 360px;
    margin-left: -250px;
    left: 50%;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5);
    top: 170px;
    /*margin-top: -180px;*/
}

.filter-pp__close {
    position: absolute;
    top: 31px;
    right: 0px;
    width: 12px;
    height: 12px;
    background: url(../../i/close-12x12.png) no-repeat;
    cursor: pointer;
}

.filter-pp__close:hover {
    background: url(../../i/close-12x12-red.png) no-repeat;
}

.filter-pp__top {
    padding: 25px 0px 17px;
    margin: 0 30px;
    position: relative;
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
}

.filter-pp__ttl2 {
    color: #475669;
    font-size: 20px;
    font-weight: normal;
}

.filter-pp__section {
    padding: 0px 30px;
    margin-top: 20px;
}

.filter-pp__section:first-child {
    margin-top: 0;
}

.filter-pp__btn {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    font-family: 'apercu_pro', sans-serif;
    color: #fff;
    border: 1px solid #ff8e41;
    background: #ff8e41;
    cursor: pointer;
    padding: 10px 0px;
    border-radius: 2px;
    width: 215px;
}

.filter-pp__btn--countr {
    color: #ff8e41;
    background-color: white;
}

.filter-pp__btn:hover {
    background: #e27200;
    color: white;
}

.filter-pp__link-del {
    color: #999;
    font-size: 14px;
    font-family: 'apercu_pro', sans-serif;
    text-decoration: none;
}

.filter-pp .filter__inp-block {
    width: 100%;
}

.filter-pp__ttl-block {
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
    color: #475669;
}

.section--grey .rbt-pp-block {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-family: 'apercu_pro', sans-serif;
    font-size: 15px;
    font-weight: bold;
    width: auto;
    margin-right: 15px;
}

.section--grey .rbt-pp {
    display: none;
}

.section--grey .rbt-pp-block .rbt-pp + label {
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-size: 14px;
    line-height: normal;
    padding-left: 33px;
    font-weight: normal;
    width: auto;
}

.section--grey .rbt-pp + label::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 2px;
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 50%;
    border: 2px solid #475669;
    box-sizing: border-box;
}

.section--grey .label-rbt-pp-cnt {
    color: #475669;
}

.section--grey .rbt-pp:checked + label::after {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    top: 4px;
    left: 6px;
    border-radius: 50%;
    background: #475669;
}

.filter__inp-block.registration {
    display: inline-block;
    width: 49.4%;
}

.filter__inp-block.registration:first-child {
    margin-right: 10px;
}

.filter__r {
    position: absolute;
    right: 15px;
    top: 15px;
}

.filter__r-btn {
    display: inline-block;
    vertical-align: middle;
    /*width: 34px;*/
    /*height: 34px;*/
    /*border: 1px solid #ccc;*/
    /*background: #fff;*/
    /*margin-left: 10px;*/
}

.filter__rbt {
    display: none;
}

.filter__rbt + .filter__r-btn-lbl {
    display: block;
    position: relative;
    line-height: normal;
    color: #475669;
    cursor: pointer;
    top: 0;
    left: 0px;
    width: 34px;
    height: 34px;
    outline: none;
    border-radius: 5px;
    background: #fff;
    text-align: center;
    margin-left: 10px;
}

.section--grey .label-rbt-e-cnt {
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 7px;
}

.section--grey .label-rbt-e-cnt.fat {
    margin-top: 0px;
}

.section--grey .line-fat {
    height: 4px;
    width: 21px;
    display: block;
    background: #ff8e41;
    box-sizing: border-box;
    margin-bottom: 3px;
}

.section--grey .line-fat:last-child {
    margin-bottom: 0;
}

.section--grey .label-rbt-e-cnt.thin {
    margin-top: 1px;
}

.section--grey .line-thin {
    height: 1px;
    width: 21px;
    display: block;
    background: #ff8e41;
    box-sizing: border-box;
    margin-bottom: 3px;
}

.section--grey .line-thin:last-child {
    margin-bottom: 0;
}

.filter__r-img {
    display: block;
    margin-bottom: 2px;
}

.filter__r-img.slim {
    margin-bottom: 3px;
}

.filter__rbt:checked + .filter__r-btn-lbl {
    position: relative;
    top: 0px;
    left: 1px;
    background-color: #ff8e41
}

.filter__rbt:checked + .filter__r-btn-lbl .label-rbt-e-cnt .line-fat,
.filter__rbt:checked + .filter__r-btn-lbl .label-rbt-e-cnt .line-thin {
    background: #ffffff;
}

.filter__r .filter__r__plane {
    background-image: url(/i/lbc/send.svg);
    display: inline-block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.filter__r i {
    font-size: 22px;
    padding-top: 7px;
    color: #ff8e41;
}

.filter__r .fa-cog {
    padding-top: 2px;
}

.filter__r .fa-plus-circle {
    font-size: 19px;
    padding-top: 0px;
}

.right-green-total {
    color: #00a551;
    font-size: 14px;
    font-family: 'apercu_pro', sans-serif;
    float: right;
    padding-top: 5px;
}

.filter__rbt:checked + .filter__r-btn-lbl .filter__r__plane {
    background-image: url(/i/lbc/send-active.svg);
}

.filter__rbt:checked + .filter__r-btn-lbl .fa-trash {
    color: #ffffff;
}

.filter__rbt + .filter__r-btn-lbl .filter__r__groups {
    background-image: url(/i/lbc/groups.svg);
    display: inline-block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.filter__rbt + .filter__r-btn-lbl .filter__r__contacts {
    background-image: url(/i/lbc/phone-book.svg);
    display: inline-block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.filter__rbt:checked + .filter__r-btn-lbl .filter__r__contacts {
    background-image: url(/i/lbc/phone-book-grey.svg);
}

.filter__rbt:checked + .filter__r-btn-lbl .filter__r__groups {
    background-image: url(/i/lbc/groups-grey.svg);
}

.filter__total {
    color: #00a551;
    font-size: 14px;
    font-family: 'apercu_pro', sans-serif;
    float: right;
    padding-top: 5px;
}

/*Ð¤Ð¸Ð»ÑŒÑ‚Ñ€ V2*/

.filter-small--v2 {
    display: flex;
    justify-content: space-between;
}

.filter-small--v2 .filter__inp-block {
    display: inline-block;
    vertical-align: middle;
    margin-left: -5px;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    transition: 0.3s;
    border-top-left-radius: 0px;
    border-color: white;
}

.filter-small--v2 .filter__inp-block input {
    border-radius: 5px;
}

.filter-small--v2 .fa-search,
.filter-small--v2 .filter__r .fa-sliders {
    color: #ff8e41;
    padding-top: 0;
}

.filter-small--v2 .filter__r .fa-sliders {
    font-size: 17px;
}

.filter-small--v2 .fa-search {
    font-size: 13px;
}

.filter-small--v2 .filter__r {
    position: static;
    display: inline-block;
    vertical-align: middle;
}

.filter__rbt:checked + .filter__r-btn-lbl > * {
    color: white;
}

.filter-small--v2 .filter__r--ttl label {
    width: auto;
    font-family: 'apercu_pro', sans-serif;
    color: #ff8e41;
    font-size: 14px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

.filter-small--v2 .filter__r--ttl label > * {
    display: inline-block;
    vertical-align: middle;
}

.filter-small--v2 .filter__r--ttl label > span {
    margin-left: 5px;
    color: #ff8e41;
    text-transform: uppercase;
}

.filter-small--v2 .filter__r--ttl .filter__r-btn-lbl--6 {
    padding-top: 6px;
}

.filter-small--v2 .filter__rbt + .filter__r-btn-lbl {
    height: 36px;
}

.filter-pp__section .filter__selectize-js + .selectize-control {
    width: 500px;
}

.filter__r-btn .hint {
    top: 38px;
}

@media screen and (max-width: 768px) {
    .filter__inp-block {
        width: 450px;
    }

    .filter__filter-open {
        right: 10px !important;
    }

    .filter-small--v2 .filter__inp-block {
        width: 67%;
    }

    .section-tag__block {
        display: block;
    }

    .section-tag .section-tag__block:not(:last-of-type) {
        margin-bottom: 10px;
    }

    .section-tag .filter__total {
        float: none;
        padding-top: 0;
    }
}

@media screen and (max-width: 639px) {
    .filter-pp {
        top: 100px;
        margin-top: 0;
    }

    .filter__inp-block {
        display: block;
        width: 100%;
        padding-right: 105px;
    }

    .filter-pp__section .filter__selectize-js + .selectize-control {
        width: 100%;
    }

    .filter__filter-open {
        right: 10px;
    }

    .filter__r {
        position: relative !important;
        display: block;
        text-align: right;
        right: initial !important;
        top: initial !important;
        margin-top: 15px;
    }

    .filter-small--v2 .filter__r {
        margin-top: 0;
        position: static !important;
        display: inline-block;
        right: auto;
        top: auto;
    }

}

@media screen and (max-width: 444px) {
    .section--grey--2 {
        height: auto;
    }

    .filter-small--v2 > div:last-of-type {
        margin-top: 10px;
    }

    .filter-small--v2 > div:last-of-type div:last-of-type {
        float: right;
    }

    .filter-small--v2 {
        flex-direction: column;
    }

    .filter-small--v2 .filter__rbt + .filter__r-btn-lbl {
        margin-left: 0;
        margin-right: 10px;
    }

    .filter-small--v2 .filter__inp-block {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;

    }
}
