.msg-analysis-tabs-bar {
    position: relative;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    font-family: 'apercu_pro', sans-serif;
}

.msg-analysis-tab {
    display: inline-block;
    width: auto;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    line-height: 20px;
    padding: 0px 0px 15px 0px;
    margin-right: 20px;
    color: #318cc6;
}

.msg-analysis-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 89px;
    height: 3px;
    background: #475669;
}

.msg-analysis-tab.active {
    color: #475669;
}

.msg-analysis-tab.tab-hide {
    display: none;
}

.classi-tbl .title-row td {
    font-size: 14px;
}

.classi-tbl td:last-of-type,
.classi-tbl th:last-of-type {
    text-align: left;
}