.htl-reg__tbl .bth__cell {
    vertical-align: top;
    padding: 7px;
    border-bottom: 1px solid #ccc;
}

.htl-reg__tbl .bth__cell:first-child {
    width: 40px;
}

.htl-reg__tbl .bth__cell:nth-child(3),
.htl-reg__tbl .bth__cell:nth-child(4),
.htl-reg__tbl .bth__cell:nth-child(5),
.htl-reg__tbl .bth__cell:nth-child(6),
.htl-reg__tbl .bth__cell:last-child {
    width: 140px;
    text-align: right;
}

.tbl__head .bth__cell {
    padding: 5px 7px;
}
.tbl__head .bth__cnt {
    font-size: 12px;
    color: #999;
}


.htl-reg .tabs-bar {
    position: relative;
    font-size: 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    font-family: 'apercu_pro', sans-serif;
}

.comm-hotel-tab {
    display: inline-block;
    width: auto;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    line-height: 20px;
    padding: 2px 0px 15px 0px;
    margin-right:20px;
    color: #318cc6 ;
}


.comm-hotel-tab.active {
    color: #475669 ;
}


.comm-hotel-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 120px;
    height: 3px;
    background: #475669;
}

.breadcrumbs {
    padding-left: 215px;
}

.show-768 {
    display: none;
}

.tab-data {
    white-space: nowrap;
}

@media screen and (max-width: 1279px) {
    .htl-reg__tbl .bth__cell:nth-child(3),
    .htl-reg__tbl .bth__cell:nth-child(4),
    .htl-reg__tbl .bth__cell:nth-child(5),
    .htl-reg__tbl .bth__cell:nth-child(6),
    .htl-reg__tbl .bth__cell:last-child {
        width: 105px;
    }
    .htl-reg .tabs-bar {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .htl-reg__line {
        display: none;
    }
}


@media screen and (max-width: 1023px) {
    .htl-reg .tab {
        display: block;
        text-align: left;
        padding: 5px 0;
        width: 100%;
    }
    .breadcrumbs {
        padding-left: 15px;
    }
}
@media screen and (max-width: 768px) {
    .htl-reg__tbl .bth__row.tbl__head,
    .htl-reg__tbl .bth__cell:first-child {
        display: none;
    }
    .htl-reg__tbl .bth__cell {
        display: block;
        padding: 5px 7px;
        border-bottom: none;
    }
    .htl-reg__tbl .bth__cell:nth-child(2) {
        padding-top: 7px;
        text-align: left;
    }
    .htl-reg__tbl .bth__cell:nth-child(3),
    .htl-reg__tbl .bth__cell:nth-child(4),
    .htl-reg__tbl .bth__cell:nth-child(5),
    .htl-reg__tbl .bth__cell:nth-child(6) {
        width: 100%;
        text-align: left;
    }
    .htl-reg__tbl .bth__cell:last-child {
        width: 100%;
        text-align: left;
        padding-bottom: 7px;
        border-bottom: 1px solid #ccc;
    }
    .show-768 {
        display: inline-block;
    }
}
