.filter__inp-block {
    position: relative;
    border: 1px solid #ccc;
    width: 500px;
    border-radius: 2px;
    height: 36px;
    box-sizing: border-box;
    background: #fff;
    padding-bottom: 3px;
}

.filter-three-btn .filter__inp-block {
    width: 400px;
}

.filter__inp {
    width: 100%;
    height: 100%;
    font-size: 14px;
    box-sizing: border-box;
    font-family: 'apercu_pro', sans-serif;
    color: #475669;
    padding: 3px 10px 2px;
    border: none;
    /*line-height: 36px;*/
    font-weight: bold;
    /*z-index: 1;*/
}

.filter__filter-open {
    position: absolute;
    right: -97px;
    top: 8px;
    text-decoration: none;
}

.filter__filter-open:hover {
    text-decoration: none;
}

.filter-icon {
    font-size: 18px;
    color: #ff8e41;
}

.filter__filter-open span {
    color: #ff8e41;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 7px;
}

.filter__noinp {
    display: none;
    position: relative;
    margin-top: 8px;
}

.filter__noinp .filter__filter-open {
    position: relative;
    right: auto;
    top: auto;
}

.filter__tag {
    display: inline-block;
    position: relative;
    padding: 7px 35px 9px 15px;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-top: 20px;
    margin-right: 5px;
}

.filter__tag.no-del {
    padding-right: 15px;
}

.filter__cnt {
    font-size: 14px;
    font-family: 'apercu_pro', sans-serif;
    color: #475669;
    line-height: 18px;
}

.filter__tag-change {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.filter__tag-change .filter-icon {
    font-size: 17px;
    color: #475669;
}

.filter__tag-close {
    position: absolute;
    right: 8px;
    top: 11px;
    width: 12px;
    height: 12px;
    background: url(/i/close-12x12.png) no-repeat;
    cursor: pointer;
}

.filter__tag-close:hover {
    background: url(/i/close-12x12-red.png) no-repeat;
}

.rbt-pp-block {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-family: 'apercu_pro', sans-serif;
    font-size: 15px;
    font-weight: bold;
    width: auto;
    margin-right: 15px;
}

.filter__inp-block.registration {
    display: inline-block;
    width: 49.4%;
}

.filter__inp-block.add-user {
    display: inline-block;
    vertical-align: top;
}

.filter__inp-block.registration:first-child {
    margin-right: 10px;
}

.filter__r {
    position: absolute;
    right: 15px;
    top: 15px;
}

.filter__r-btn {
    display: inline-block;
    vertical-align: top;
}

.filter__rbt {
    display: none;
}

.filter__rbt + .filter__r-btn-lbl {
    display: block;
    position: relative;
    line-height: normal;
    color: #475669;
    cursor: pointer;
    top: 0;
    left: 0px;
    width: 34px;
    height: 34px;
    outline: none;
    border-radius: 5px;
    background: #fff;
    text-align: center;
    margin-left: 20px;
    box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset, 0.1em 0.1em 0.2em #475669;
}

.label-rbt-e-cnt {
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 7px;
}

.label-rbt-e-cnt.fat {
    margin-top: 0px;
}

.line-fat {
    height: 4px;
    width: 21px;
    display: block;
    background: #ff8e41;
    box-sizing: border-box;
    margin-bottom: 3px;
}

.line-fat:last-child {
    margin-bottom: 0;
}

.label-rbt-e-cnt.thin {
    margin-top: 1px;
}

.line-thin {
    height: 1px;
    width: 21px;
    display: block;
    background: #ff8e41;
    box-sizing: border-box;
    margin-bottom: 3px;
}

.line-thin:last-child {
    margin-bottom: 0;
}

.filter__r .filter__rbt + .filter__r-btn-lbl .push-img {
    width: 24px;
    height: 24px;
    background: url("/i/sprite-filter-btn.png") -274px 0;
}

.filter__r .filter__rbt:checked + .filter__r-btn-lbl .push-img {
    background: url("/i/sprite-filter-btn.png") -237px 0;
}

.filter__r .filter__rbt + .filter__r-btn-lbl .fat-img {
    width: 20px;
    height: 18px;
    background: url(/i/sprite-filter-btn.png) 0px 0;
}

.filter__r .filter__rbt + .filter__r-btn-lbl .thin-img {
    width: 20px;
    height: 18px;
    background: url(/i/sprite-filter-btn.png) -121px 0;
}

.filter__r .filter__rbt:checked + .filter__r-btn-lbl .thin-img {
    background: url(/i/sprite-filter-btn.png) -163px 0;
}

.filter__r .filter__rbt:checked + .filter__r-btn-lbl .fat-img {
    background: url(/i/sprite-filter-btn.png) -40px 0;
}

.label-rbt-e-cnt.push {
    top: 5px;
    left: 5px;
}

.label-rbt-e-cnt.map-open-btn {
    top: 5px;
    left: 5px;
}

.filter__rbt + .filter__r-btn-lbl .map-img {
    width: 24px;
    height: 24px;
    background: url(/i/tourvision/icon-map.png) no-repeat;
}

.filter__r-img {
    display: block;
    margin-bottom: 2px;
}

.filter__r-img.slim {
    margin-bottom: 3px;
}

.filter__rbt:checked + .filter__r-btn-lbl {
    position: relative;
    top: 1px;
    left: 1px;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.5) inset;
}

.filter__rbt:checked + .filter__r-btn-lbl .label-rbt-e-cnt .line-fat,
.filter__rbt:checked + .filter__r-btn-lbl .label-rbt-e-cnt .line-thin {
    background: #475669;
}

.filter__cbx-block {
    position: relative;
    padding: 8px 0px 8px 0px;
    display: block;
}

.filter__lbl-cnt {
    display: inline-block;
    vertical-align: top;
}

.saggest__dropdown {
    display: none;
    position: absolute;
    left: 0px;
    top: 37px;
    width: 100%;
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.2);
    background: #fff;
    z-index: 1;
}

.saggest__dropdown.active {
    display: block;
}

.saggest__dropdown-sub-item,
.saggest__dropdown-item {
    list-style: none;
    margin: 0;
    padding: 0;

}

.saggest__dropdown-sub-list {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.saggest__dropdown-sub-list .saggest__dropdown-link {
    padding-left: 25px;
}

.saggest__dropdown-link {
    position: relative;
    display: block;
    padding: 10px;
    color: #475669;
    font-size: 14px;
    font-family: 'apercu_pro', sans-serif;
    border-bottom: 1px solid #f2f2f2;
    text-decoration: none;
}

.saggest__dropdown-link.apply {
    padding-left: 10px;
}

.saggest__sub-info {
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight: normal;
    color: #999;
    font-size: 12px;
    font-family: 'apercu_pro', sans-serif;
}

.saggest__cbx-block {
    position: relative;
    display: block;
    vertical-align: middle;
    padding: 8px 10px 8px 20px;
    border-bottom: 1px solid #f2f2f2;
}

.saggest__cbx {
    display: none;
}

.saggest__cbx + .saggest__label-cbx {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding-left: 26px
}

.saggest__cbx + .saggest__label-cbx::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 0px;
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 2px;
    border: 2px solid #475669;
}

.saggest__cbx:checked + .saggest__label-cbx::before {
    content: '';
    position: absolute;
    top: 1px;
    right: -20px;
    width: 12px;
    height: 12px;
    background: #fff;
    border: 2px solid #475669;
    border-radius: 2px;
}

.saggest__cbx:checked + .saggest__label-cbx::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 3px;
    width: 9px;
    height: 9px;
    background: url(../i/check-black.png);
}

.saggest__cbx:checked + .saggest__label-cbx {
    color: #475669;
}

.saggest__lbl-cnt {
    display: inline-block;
    vertical-align: top;
    color: #475669;
    font-size: 14px;
    font-family: 'apercu_pro', sans-serif;
}

.filter__btn {
    display: inline-block;
    vertical-align: top;
    width: 161px;
    background: #fff;
    padding: 7px 0 8px 0;
    text-align: center;
    border-radius: 2px;
    border: 1px solid #ccc;
    color: #ccc;
    font-size: 14px;
    font-family: 'apercu_pro', sans-serif;
}

.filter__btn:hover {
    border: 1px solid #ff8e41;
    color: #ff8e41;
}

.filter__link-btn {
    display: inline-block;
    position: relative;
    line-height: normal;
    color: #475669;
    cursor: pointer;
    top: 0;
    left: 0px;
    width: 34px;
    height: 34px;
    outline: none;
    border-radius: 5px;
    background: #fff;
    text-align: center;
    margin-left: 20px;
    box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset, 0.1em 0.1em 0.2em #475669;
}

.label-rbt-e-cnt.map-btn {
    display: block;
    top: 5px;
    left: 5px;
    width: 25px;
    height: 25px;
    background: url(/i/tourvision/icon-map.png) no-repeat;
}

.label-rbt-e-cnt.gmap-btn {
    display: block;
    top: 5px;
    left: 5px;
    width: 25px;
    height: 25px;
    background: url(/i/tophotels/google-maps.png) no-repeat;
}

.filter__link-btn:active {
    position: relative;
    top: 1px;
    left: 1px;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.5) inset;
}

.filter__r .fa-trash {
    font-size: 22px;
    padding-top: 7px;
    color: #ff8e41;
}

.filter__r .btn-edit {
    font-size: 22px;
    padding-top: 7px;
    color: #ff8e41;
}

.filter__rbt:checked + .filter__r-btn-lbl .fa-trash {
    color: #475669;
}

.filter__r .filter__r__plane {
    background-image: url(/i/lbc/send.svg);
    display: inline-block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.filter__rbt:checked + .filter__r-btn-lbl .filter__r__plane {
    background-image: url(/i/lbc/send-active.svg);
}

.filter__r .user-ban,
.filter__r .filter-hotel-star {
    font-size: 22px;
    padding-top: 7px;
    color: #ff8e41;
}

.filter__rbt:checked + .filter__r-btn-lbl .user-ban,
.filter__rbt:checked + .filter__r-btn-lbl .filter-hotel-star {
    color: #475669;
}

/*Новые кнопки*/
.filter__r.new-btn .filter__rbt + .filter__r-btn-lbl,
.filter__r.new-btn .filter__link-btn {
    box-shadow: none;
}

.filter__r.new-btn .filter__rbt:checked + .filter__r-btn-lbl {
    top: auto;
    left: auto;
}

.filter__r.new-btn .user-ban,
.filter__r.new-btn .filter-hotel-star {
    padding-top: 6px;
}

.filter__r.new-btn .filter__rbt:checked + .filter__r-btn-lbl {
    background: #ff8e41;
}

.filter__r.new-btn .filter__rbt:checked + .filter__r-btn-lbl .filter-hotel-star,
.filter__r.new-btn .filter__rbt:checked + .filter__r-btn-lbl .fa-trash,
.filter__r.new-btn .filter__rbt:checked + .filter__r-btn-lbl .btn-edit,
.filter__r.new-btn .filter__rbt:checked + .filter__r-btn-lbl .user-ban {
    color: #fff;
    padding-top: 6px;
}

.filter__r.new-btn .filter__rbt:checked + .filter__r-btn-lbl .label-rbt-e-cnt .line-fat {
    background: #fff;
}

.filter__r.new-btn .filter__rbt:checked + .filter__r-btn-lbl .filter__r__plane {
    background-image: url(/i/lbc/send-active-white.svg);
}

.filter__r.new-btn .filter__rbt:checked + .filter__r-btn-lbl .fat-img {
    background: url(/i/sprite-filter-btn.png) -80px 0;
}

.filter__r.new-btn .filter__rbt:checked + .filter__r-btn-lbl .thin-img {
    background: url(/i/sprite-filter-btn.png) -203px 0;
}

.filter__r.new-btn .filter__rbt:checked + .filter__r-btn-lbl .push-img {
    background: url(/i/sprite-filter-btn.png) -310px 0;
}

.filter__r.new-btn .search-btn {
    display: inline-block;
    vertical-align: top;
    position: relative;
    line-height: normal;
    cursor: pointer;
    top: 0;
    left: 0px;
    width: 34px;
    height: 34px;
    outline: none;
    border-radius: 5px;
    background: #ff8e41;
    text-align: center;
    margin-left: 20px;
}

.filter__r.new-btn .search-btn .search-img {
    color: #fff;
    font-size: 20px;
    margin-top: 6px;
}

.filter__r.new-btn .search-btn.active {
    background: #fff;
}

.filter__r.new-btn .search-btn.active .search-img {
    color: #ff8e41;
}

.filter__total {
    position: absolute;
    right: 0;
    top: 24px;
    color: #00a650;
    font-family: 'apercu_pro', sans-serif;
    font-size: 14px;
}

.filter__r.filter-float {
    position: relative;
    top: auto;
    right: auto;
    float: right;
}

button.filter__r-btn-lbl {
    display: block;
    position: relative;
    line-height: normal;
    color: #475669;
    cursor: pointer;
    top: 0;
    left: 0px;
    width: 34px;
    height: 34px;
    outline: none;
    border-radius: 5px;
    background: #fff;
    text-align: center;
    margin-left: 20px;
    border: none;
}

button.filter__r-btn-lbl:active {
    background: #ff8e41;
}

.filter__r .btn-icon {
    padding-top: 0px;
    font-size: 22px;
    color: #ff8e41
}

.filter__r .btn-icon.btn-icon--grey {
    color: #999;
}

.filter__r-btn .hint-block:hover .hint {
    top: 36px;
    white-space: nowrap;
}

button.filter__r-btn-lbl:active .btn-icon {
    color: #fff;
}

.filter__r .gt-icon {
    width: 20px;
    height: 20px;
    margin-top: 6px;
}

.filter__r-btn-lbl.g-translate {
    display: block;
    position: relative;
    line-height: normal;
    color: #475669;
    cursor: pointer;
    top: 0;
    left: 0px;
    width: 34px;
    height: 34px;
    outline: none;
    border-radius: 5px;
    background: #fff;
    text-align: center;
    margin-left: 20px;
    border: none;
}
.filter__r-btn-lbl.g-translate:active  {
    background: #ff8e41;
}
.filter__r-btn-lbl.g-translate:hover .hint {
    display: block;
    top: 36px;
}


/*Фильтр новый*/
/*Ð¤Ð¸Ð»ÑŒÑ‚Ñ€ V2*/

.filter-small--v2 {
    display: flex;
    justify-content: space-between;
}

.filter-small--v2 .filter__inp-block {
    display: inline-block;
    vertical-align: middle;
    margin-left: -5px;
    transition: 0.3s;
    border-color: white;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.filter-small--v2 .filter__inp-block .filter__inp {
    border-radius: inherit;
}

.filter-pp__section--border{
    border-top: 1px solid #fff;
    padding: 0;
    margin: 0 30px;
    padding-top: 20px;
}


@media screen and (max-width: 768px) {
    .filter__inp-block {
        width: 450px;
    }

    .filter__filter-open {
        right: 10px !important;
    }

    .filter__total {
        position: static;
        margin-top: 10px;
    }
}

@media screen and (max-width: 639px) {
    .filter__inp-block,
    .filter-three-btn .filter__inp-block {
        display: block;
        width: 100%;
        padding-right: 105px;
    }

    .filter__filter-open {
        right: 10px;
    }

    .filter__r {
        position: relative !important;
        display: block;
        text-align: right;
        right: initial !important;
        top: initial !important;
        margin-top: 15px;
    }
}
