.leftbar-inn {
    margin-top: -1px;
}

.side-nav {
    position: relative;
    max-width: 195px;
    padding: 0 0 15px 10px;
    margin: 0px 0 0;
}

.side-nav-ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
}

.side-nav-li {
    position: relative;
    font-family: 'apercu_pro', sans-serif;
    line-height: normal;
}

.side-nav-li-ttl {
    font-size: 18px;
    color: #475669;
    border-top: 0;
    padding: 5px 0 8px;
    padding-top: 0;
    font-weight: bold;
    margin-top: 1px;
    line-height: 23px;
}

.side-nav-li-a {
    display: block;
    padding: 2px 0;
    font-size: 14px;
    line-height: 18px;
    color: #318cc6;
    font-family: 'apercu_pro', sans-serif;
    text-decoration: none;
}

.side-nav-li-a-red,
.side-nav-li-a-red {
    color: #da4c4c;
    text-decoration: none;
}

.side-nav-li-a-red-arrow,
.side-nav-li-a-red-arrow {
    position: relative;
    font-weight: bold;
}

.side-nav-li-a-red-arrow:before {
    background-image: url(../../i/red-arr.png);
    display: block;
    width: 6px;
    height: 9px;
    position: absolute;
    top: 7px;
    left: -10px;
    content: '';
}

.side-nav-vpn .side-nav-li-ttl {
    font-size: 15px;
    font-weight: bold;
    color: #999999;
    font-family: 'apercu_pro', sans-serif;
    display: inline-block;
    border-bottom: 1px dotted;
    line-height: 1;
    padding-bottom: initial;
    text-decoration: none;
}

.side-nav-vpn .side-nav-li-a {
    font-size: 13px;
    color: #999999;
}

.side-nav.side-nav--main,
.side-nav-li__ul {
    display: none ;
}

@media screen and (max-width: 1023px) {
    .side-nav.side-nav--main {
        display: block;
    }

    .leftbar {
        display: none;
        width: 100%;
        position: absolute;
        background-color: #faf6e5;
        top: 0;
        height: fit-content;
        bottom: 0;
        padding: 0;
        margin-left: -15px;
        transition: 0.3s;
        z-index: 10000;
        border: 1px solid white;
        border-top: none;
    }

    .leftbar-inn {
        width:100%;
        background-color: #faf6e5;
    }

    .side-nav-fly {
        margin-left: 55px;
        width: 420px;
        margin-top: 10px;
    }

    .leftbar-close {
        background-image: url(/i/tophotels/close-mb.svg);
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        display: none;
        right: 12px;
        top: 17px;
        position: absolute;
    }

    .side-nav {
        position: relative;
        width: 100%;
        padding: 0;
        max-width: 100%;
    }

    .side-nav-li {
        position: relative;
        font-family: 'apercu_pro', sans-serif;
        line-height: normal;
        padding: 5px 14px;

    }

    .side-nav-ul .side-nav-li:last-of-type a {
        border: none;
    }

    .side-nav-ul {
        background-color: white;
        margin-bottom: 10px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .side-nav-li__ul {
        margin-left: 15px;
        font-size: 14px;
        display: none;
        text-transform: uppercase;
    }

    .side-nav-li__ul li {
        margin: 15px 0;
    }

    .side-nav-li__ul li:last-of-type {
        margin-bottom: 5px;
    }

    .side-nav-li-ttl {
        margin: 5px 14px;
        font-size: 13px;
        padding: 7px 0;
        font-weight: bold;
        position: relative;
        text-transform: uppercase;
        color: #475669;
        padding-top: 10px;
        border-bottom: 1px solid #faf6e5;
    }

    .side-nav-li-a {
        position: relative;
        font-size: 15px;
        text-transform: uppercase;
        border-bottom: 1px solid #faf6e5;
        padding-bottom: 11px;
    }

    .side-nav-li-a::after {
        content: '>';
        position: absolute;
        right: 0px;
        font-size: 23px;
        transition: 0.3s;
        top: 0;
    }

    .side-nav-li-a.open::after {
        transform: rotate(90deg);
    }

    .side-nav-li-ttl.side-nav-li-ttl--r::after {
        content: '\003E';
        position: absolute;
        right: 18px;
        font-size: 23px;
        top: 4px;
    }

    .side-nav--main a {
        padding: 7px 0;
    }

    .side-nav--main a::after {
        top: 4px;
    }

}

@media screen and (max-width: 500px) {
    .leftbar-inn {
        width: 100%;
    }

    .side-nav__menuAll {
        margin-left: 15px;
        margin-right: 45px;
    }

    .side-nav-fly {
        width: 100%;
        margin-left: 0;
    }

    .side-nav {
        max-width: none;
        width: 100%;
    }

    .side-nav-ul {
        margin-right: 15px;
        margin-left: 15px;
    }

    .headerMobile__search--menu__burger {
        display: none;
    }

    .headerMobile__search--menu .relative {
        padding-left: 0 !important;
    }

    .headerMobile__search--menu {
        width: calc(100% - 50px);
    }
}
