.bid-distrib-tabs-bar {
    position: relative;
    font-size: 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    font-family: 'apercu_pro', sans-serif;
}

.bid-distrib-tab {
    display: inline-block;
    width: auto;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    line-height: 20px;
    padding: 0px 0px 15px 0px;
    margin-right: 20px;
    color: #318cc6;
}

.bid-distrib-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 157px;
    height: 3px;
    background: #475669;
}

.bid-distrib-tab.active {
    color: #475669;
}

.table-title-str {
    font-size: 18px;
    color: #475669;
    font-weight: bold;
    background: #e4e5ea;
}

.statistic-bid2__sum {

    display: inline-block;
    width: 41px;
}
