.header-nav {
    position: relative;
    font-size: 0;
    border-bottom: 1px solid #eee;
    font-family: 'apercu_pro', sans-serif;
    padding: 0px 30px 0px;
    background-color: white;
}

.header-nav__item {
    display: inline-block;
    width: auto;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    line-height: 20px;
    padding: 15px 0px;
    font-family: 'apercu_pro', sans-serif;
    margin-right: 20px;
}

.header-nav__item.active {
    position: relative;
    color: #475669;
}

.header-nav__item.active a {
    color: #475669;
}

.header-nav__item.active::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #475669;
    color: #475669;
}

.header-nav > a {
    float: right;
}
.header {
    background: linear-gradient(90deg, #e4e5ea, #e4e5ea);
}

.header-inner {
    position: relative;
    height: 60px;
    padding: 9px 30px 0;
}

.header-logo {
    color: #475669;
    font-weight: bold;
    font-size: 21px;
    text-decoration: none;
    text-transform: uppercase;
    float: right;  font-family: 'apercu_pro', sans-serif;
    padding-top: 10px;
    margin-right: 55px;
}

.header-mid {
    position: relative;
    height: 60px;
}

.header-mid-logo {
    position: absolute;
    float: none;
    width: 45px;
    height: 35px;
    right: 22px;
    background-image: url(../../../i/lightsoft-white-logo.png);
    background-repeat: no-repeat;
}

.site-nav__item.active {
    position: relative;
    color: #475669;
}

.site-nav__item.active::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #475669;
    color: #475669;
}

.header__user-block,
.header__ava-block,
.header__info-block {
    display: inline-block;
    vertical-align: middle;
}

.header__ava-block {
    width: 40px;
    height: 40px;
    margin-right: 7px;
}

.header__ava {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__ava-block img {
    width: 40px;
    height: 40px;
    border-radius: 2px;
}

.title-h1 {
    color: #475669;
}

.user-name {
    color: #475669;
    display: inline-block;
    vertical-align: middle;
    font-family: 'apercu_pro', sans-serif;
    font-size: 25px;
    line-height: 31px;
}

.site-nav {
    position: relative;
    font-size: 0;
    font-family: 'apercu_pro', sans-serif;
    height: 42px;
    display: inline-block;
}

.site-nav__wrap {
    background-color: white;
    margin: 0;
    padding: 0 30px;
    border-bottom: 1px solid #e4e5ea;
}

.site-nav__item.search {
    color: #ff8e41;
    position: relative;
}

.site-nav__item.search {
    padding-right: 20px;
    margin-right: 0;
    width: 74px;
}

.site-nav__item.search i {
    position: absolute;
    content: '';
    width: 12px;
    height: 18px;
    top: 12px;
    right: 7px;
    transition: 0.3s;
    font-size: 19px;
    opacity: 1;
    color: #ff8e41;
    font-weight: normal;
}

.site-nav__item {
    display: inline-block;
    max-width: 150px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    line-height: 20px;
    padding: 10px 0px;
    text-transform: uppercase;
    margin-right: 20px;
    padding-bottom: 0;
}

.site-nav__item-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 35px;
    height: 3px;
    background: #475669;
}

.site-nav__authorization {
    float: right;
    display: inline-block;
    padding-top: 15px;
    color: #999;
    font-size: 15px;
}

.site-nav__authorization:hover {
    text-decoration: underline;
}

.site-nav.left-site {
    float: right;
}



.section.section--grey.search {
    margin: 20px 30px;
    display: flex;
    justify-content: center;
}

.section.section--grey.filter__inp-block {
    width: 535px;
}

.site-nav__item {
    position: relative;
    font-size: 12px;
}

.site-nav__tooltip {
    position: absolute;
    background-color: #e4e5ea;
    padding: 11px 10px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 400px;
    z-index: 101;
}

.site-nav > div {
    display: inline-block;
}

.site-nav__tooltip-item {
    margin-bottom: 10px;
    font-size: 14px;
}

.site-nav__actions {
    position: absolute;
    border: 1px solid #e4e5ea;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    width: 310px;
    z-index: 200;
    top: 41px;
    background-color: white;
}

.site-nav__actions-item {
    border-bottom: 1px solid #e4e5ea;
    padding-top: 5px;
    padding-bottom: 5px;
}

.site-nav__actions-item:last-of-type {
    padding-top: 5px;
    border-bottom: none;
}

.site-nav__actions-item > * {
    font-size: 14px;
    display: block;
    padding: 5px 10px;
    cursor: pointer;
    color: #222;
}

.site-nav__actions-item > div a {
    margin-right: 8px;
    color: #222;
}

.site-nav__actions-item > *:hover {
    background-color: #EEEEEE;
    color: #3687c5;
}

.site-nav__actions-item > div a:hover {
    color: #3687c5;
}

.fa-plus-wrap {
    position: relative;
}

.site-nav__actions-item .fa-plus {
    color: #3687c5;
    top: 7px;
    position: absolute;
    right: 3px;
}
.site-nav__search {
    float: right;
    padding-top: 15px;
    color: #318cc6;
    font-size: 17px;
    font-weight: bold;text-transform: lowercase;
}


@media screen and (max-width: 1279px) {

    .task__stars-box {
        position: relative;
        right: initial;
        bottom: initial;
        margin-top: 7px;
    }

    .task__cell {
        padding-bottom: 10px;
    }

    .task__cnt-block {
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 1023px) {


    .header-inner {
        padding: 10px 10px;
    }

    .header__user {
        padding: 10px 15px;
        margin-top: 20px;
    }

    .menu-switch {
        display: inline-block;
        vertical-align: top;
        background: linear-gradient(to bottom, #000000 0%, #000000 15%, transparent 10%, transparent 45%, #000000 50%, #000000 60%, transparent 0%, transparent 85%, #000000 90%, #000000 100%);
        width: 30px;
        height: 23px;
        margin-top: 11px;
        margin-right: 12px;
    }

    .header__user-profie {
        display: inline-block;
    }

    .site-nav__wrap {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .site-nav__item {
        display: block;
        text-align: left;
        white-space: normal;
        max-width: none;
        margin: 10px 0;
    }

    .site-nav > div {
        display: block;
    }

    .site-nav {
        height: auto;
    }

    .header__info-block {
        display: none;
    }

}

@media screen and (max-width: 479px) {

    .header-inner {
        padding: 9px 20px 0;
    }

    .header-mid-logo {
        right: 20px;
    }

    .user-name {
        font-size: 21px;
    }

    .header-inner {
        padding: 9px 20px 0;
    }

    .header-mid-logo {
        right: 20px;
    }
}