
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    -webkit-backface-visibility: hidden;
    font-family: 'apercu_pro', sans-serif;
}

::-webkit-input-placeholder {
    color: #999;
    font-weight: normal !important;
}

::-moz-placeholder {
    color: #999;
    opacity: 1;
    font-weight: normal !important;
}

:-moz-placeholder {
    color: #999;
    opacity: 1;
    font-weight: normal !important;
}

:-ms-input-placeholder {
    color: #999;
    font-weight: normal !important;
}

html {
    font-size: 1em;
    overflow-y: scroll;
    line-height: 1.4;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

button span {
    display: inline-block;
    vertical-align: middle;
    margin-top: -1px;
}

button:after {
    content: "";
    width: 1px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

textarea {
    resize: vertical;
}

a {
    color: #3687c5;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    line-height: 20px;
    background: #dedede;
}

.bth__ttl-h2 {
    font-size: 19px;
    font-family: 'apercu_pro', sans-serif;
    color: #475669;
}

.page {

    min-height: 100%;
    margin: 0 auto;
    position: relative;
    background: #fff;
}

.page-new {

    min-height: 100%;
    margin: 0 auto;
    position: relative;
    background: #fff;

}

.title {
    display: inline-block;
}

.title-h1 {
    display: inline-block;
    vertical-align: baseline;
    font-family: "apercu_pro_bold";
    font-size: 25px;
    line-height: 31px;
}

.map-title {
    font-family: 'apercu_pro', sans-serif;
    font-size: 19px;
    color: #475669;
    margin-top: 30px;
    margin-bottom: 10px;
}

.title-h3 {
    display: inline-block;
    vertical-align: baseline;
    font-family: "apercu_pro_bold";
    font-size: 15px;
    line-height: 25px;
    padding-bottom: 3px;
}

.title-subttl {
    display: inline-block;
    vertical-align: bottom;
    font-size: 12px;
    line-height: 19px;
    padding-bottom: 2px;
    color: #999;
    margin-left: 12px;
}

.title-count {
    color: #5197cd;
    text-decoration: none;
}

.title-count:hover {
    text-decoration: underline;
}

.lbc-ttl-h2 {
    font-size: 19px;
    font-family: 'apercu_pro', sans-serif;
    color: #475669;
}

.lbc-ttl-h2--sm {
    font-size: 14px;
    font-weight: normal;
    margin-right: 5px;
}

.lbc-ttl-h3 {
    font-size: 16px;
    font-family: 'apercu_pro', sans-serif;
    color: #475669;
}

.content-head {
    padding: 0 30px;
}

.container {
    display: table;
    width: 100%;
}

.panel-show {
    display: block;
}

.footer {
    height: 68px;
    margin-top: -68px;
}

.footer .page-inner {
    padding: 0 50px;
}

@media screen and (max-width: 768px) {

    .content-left.active {
        left: 0;
    }

    .content-left__close {
        display: block;
    }
}

@media screen and (max-width: 479px) {
    .content-body {
        padding: 0 20px;
    }
}

/* ==========================================================================
   Helper classes
========================================================================== */

.fll {
    float: left;
}

.flr {
    float: right;
}

/*margins*/

.m5t {
    margin-top: 5px;
}

.m5b {
    margin-bottom: 5px;
}

.m10t {
    margin-top: 10px;
}

.m10b {
    margin-bottom: 10px;
}

.m15t {
    margin-top: 15px;
}

.m15b {
    margin-bottom: 15px;
}

.m20t {
    margin-top: 20px;
}

.m20b {
    margin-bottom: 20px;
}

.m25t {
    margin-top: 25px;
}

.m25b {
    margin-bottom: 25px;
}

.m30t {
    margin-top: 30px;
}

.m30b {
    margin-bottom: 30px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    padding-bottom: 95px;
    max-width: 1600px;
    min-width: 325px;
    margin: 0 auto;
    padding-top: 20PX;
    padding-right: 30px;
    padding-left: 30px;
}

.dropdowm-block {
    margin-left: 197px;
}

.panel {
    position: relative;
}

.lbc__cnt {
    font-size: 15px;
    font-family: apercu_pro, sans-serif;
    color: #475669;
    line-height: 22px;
}

.lbc__cnt + .lbc__cnt {
    margin-top: 4px;
}

.lbc__cnt--sm {
    font-size: 13px;
}

.lbc__cnt--big {
    font-size: 17px;
}

.lbc__link {
    font-size: 15px;
    font-family: apercu_pro, sans-serif;
    color: #318cc6;
    margin-bottom: 5px;
    cursor: pointer;
}

.lbc__link--sm {
    font-size: 13px;
}

.lbc__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lbc__tbl {
    display: table;
    width: 100%;
}

.lbc__row {
    display: table-row;
}

.lbc__cell {
    display: table-cell;
    border-bottom: 1px solid #ccc;
}

.edit-block {
    display: block;
    position: relative;
    padding: 10px;
    border-radius: 2px;
}

.edit-block--grey {
    background: #e4e5ea;
}

.edit-block__tbl {
    display: table;
    width: 100%;
}

.edit-block__row {
    display: table-row;
}

.edit-block__cell {
    display: table-cell;
}

.edit-block__inp-block {
    position: relative;
    border: 1px solid #ccc;
    width: 300px;
    border-radius: 2px;
    height: 36px;
    box-sizing: border-box;
    background: #fff;
    padding-bottom: 3px;
}

.edit-block__inp {
    width: 100%;
    height: 100%;
    font-size: 14px;
    box-sizing: border-box;
    font-family: 'apercu_pro', sans-serif;
    color: #475669;
    padding: 3px 10px 2px;
    border: none;
    line-height: 36px;
    font-weight: bold;
    z-index: 1;
    background: #fff;
}

@media screen and (max-width: 1200px) {
    html {
        margin-right: 0 !important;
    }
}

@media screen and (max-width: 659px) {

    .container {
        display: table;
        width: 100%;
        padding: 0 10px;
        margin-top: 0;
    }

    *[data-title]:hover::after {
        display: none;
    }

}