.page-footer-bth {
    background: white;
    position: absolute;
    bottom: 0;
    height: auto;
    line-height: 50px;
    padding: 0;
    border-top: 1px solid #eee;
}
footer {
    border-bottom: 1px solid #e3e0d7;
}
.page-footer-nav {
    overflow: hidden;
    max-width: 1600px;
    min-width: 325px;    padding-right: 30px;
    padding-left: 30px;
    margin: 0 auto;
}
.page-footer-opacity {
    opacity: 0.5;
}

.page-footer-info-copyright {
    margin-right: 25px;
    float: left;
    color: rgb(102, 102, 102);
    font-family: inherit;
    font-size: 12px;
}