
.headerMobile__select {
    display: none;
}

@media screen and (max-width: 1023px) {
    .headerMobile__select {
        display: block;
    }

    .header-lang__lang {
        padding-left: 17px;
    }

    .header-lang__dropdown {
        top: 39px;
    }
    .headerYellow-line {
        display: none;
    }
    .header-lang__block {
        position: relative;
        padding: 11px 10px;
        padding-left: 15px;
        cursor: pointer;
        background: #faf6e5;
        border-radius: 2px;
    }

    .headerMobile__navigation.active {
        color: #318cc6;
        font-size: 17px;
        padding: 15px;
        padding-left: 78px;
        display: block;
        text-transform: uppercase;
        background-color: #faf6e5;
    }

    .headerMobile__navigation-tab {
        margin-right: 20px;
    }

    .headerMobile__navigation-tab.active {
        color: #475669;
        position: relative;
    }

    .headerMobile__navigation-tab.active::before {
        content: '';
        position: absolute;
        background-color: #475669;
        height: 2px;
        width: 100%;
        bottom: -10px;
    }

    .headerMobile {
        font-family: 'apercu_pro', sans-serif;
        display: block;
    }

    .headerMobile__navigation .headerMobile__navigation-tabs {
        width: 390px;
        display: flex;
    }

    .headerMobile__flex {
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;

        align-items: flex-end;
        -webkit-box-align: flex-end;;
        -webkit-align-items: flex-end;;
        -ms-flex-align: flex-end;;

        justify-content: space-between;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        padding: 10px 15px;
    }

    .headerMobile__right {
        position: relative;
    }

    .headerMobile__right > div {
        display: inline-block;
        vertical-align: middle;
    }

    .headerMobile__line {
        background-color: #f2eacb;
        padding: 10px 15px;
        position: relative;
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;

        justify-content: space-between;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
    }

    .headerMobile__bth {
        background-color: white;
        border-radius: 5px;
        padding: 15px 12px;
        cursor: pointer;
        display: inline-block;
        text-align: center;
        width: 60px;
        vertical-align: top;
        height: 50px;
        box-sizing: border-box;
    }

    .headerMobile__bth i {
        color: #ff8e41;
        font-size: 20px;
    }

    .headerMobile__key {
        background-image: url("/i/travel_crm/key-orange.svg");
        background-repeat: no-repeat;
        display: inline-block;
        width: 22px;
        height: 22px;
    }

    .headerMobile__bth--auth.active .headerMobile__key {
        background-image: url("/i/travel_crm/key.svg");

    }

    .headerMobile__burger {
        background-image: url("/i/tophotels/menu-button.svg");
        background-repeat: no-repeat;
        display: inline-block;
        width: 25px;
        height: 25px;
        background-position-y: -2px;
    }

    .headerMobile__burger.active {
        background-image: url("/i/tophotels/menu-button-grey.svg");

    }

    .headerMobile__search--menu__burger {
        background-image: url(/i/tophotels/menu-button-grey.svg);
        background-repeat: no-repeat;
        display: inline-block;
        width: 40px;
        position: absolute;
        margin-top: 5px;
        background-color: #faf6e5;
        height: 40px;
        top: -10px;
        left: -10px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        background-position-x: center;
        background-position-y: center;
    }

    .headerMobile__bottom {
        border-bottom: 1px solid #f2eacb;
    }

    .headerMobile__line.active {
        justify-content: start;
    }

    .headerMobile__msg-icon {
        display: inline-block;
        position: relative;
        font-weight: bold;
        vertical-align: middle;
        font-size: 13px;
        width: 30px;
        height: 30px;
        border-radius: 29px;
        text-align: center;
        background-color: #e03a3a;
        color: white;

    }

    .headerMobile__right-noAuth {
        color: #475669;
        font-size: 16px;
    }

    .headerMobile__flex .headerMobile__right i {
        font-size: 23px;
        margin-right: 15px;
        color: #e03a3a;
        display: inline-block;
        vertical-align: middle
    }

    .headerMobile__msg-icon span {
        padding-top: 7px;
        display: inline-block;
    }

    .headerMobile__msg-icon::before {
        content: '';
        position: absolute;
        border-left: 12px solid transparent;
        border-right: 9px solid transparent;
        border-bottom: 9px solid #e03a3a;
        right: 20px;
        top: 11px;
    }

    .headerMobile__search--menu {
        max-width: 330px !important;
        position: static !important;
    }

    .headerMobile__search--menu .relative {

        padding-left: 43px !important;
        height: 100%;
    }

    .headerMobile__search--menu input {
        text-transform: uppercase;
        font-size: 15px;
        font-weight: bold;
        color: black;
    }

    .headerMobile__bottom-arr {
        margin-right: 10px;
        position: relative;
        margin-left: 20px;
        font-size: 14px;
    }

    .headerMobile__bottom-arr::before {
        position: absolute;
        top: 0;
        left: -20px;
        content: '\2190';
    }

    .headerMobile .header-lang {
        display: block;
        position: relative;
        right: 0;
        top: 0;
    }

    .headerMobile .lang-block__dropdown {
        top: 39px;
    }

    .headerMobile .lang-block__lang {
        padding: 10px 15px;
    }

    .headerMobile .header-lang .lang-block {
        padding: 10px 15px
    }

    .headerMobile .lang-block__cnt {
        margin-right: 0;
    }

    .headerMobile .lang-block__dropdown.active {
        display: block;
    }

    /*Селект*/
    .headerMobile__select {
        position: relative;
        padding: 10px 15px;
        border-radius: 2px;
        display: block;
        cursor: pointer;
        font-family: 'apercu_pro', sans-serif;
        color: #318cc6;
        font-size: 15px;
        text-transform: uppercase;
        min-width: 200px;
    }

    .headerMobile__select-arr {
        background-image: url("/i/down-filterArrow-blue.svg");
        width: 17px;
        height: 15px;
        display: inline-block;
        position: absolute;
        background-repeat: no-repeat;
        right: 15px;
        transition: 0.3s;
        top: 14px;
    }

    .headerMobile__select-arr.active {
        transform: rotate(180deg);
    }

    .headerMobile__select-drop {
        position: static;
        z-index: 10;
        width: 100%;
        left: -1px;
        margin-top: 11px;
        background: white;
        display: none;
        border-top: 0;
        top: 26px;
    }

    .headerMobile__select-drop li {
        margin-right: 18px;
        border-top: 1px solid #ccc;
        cursor: pointer;
        padding: 10px 0;
        font-size: 15px;
    }

    .headerMobile__select-drop li:last-of-type {
        padding-bottom: 0;
    }

    .headerMobile__select-drop li:hover {
        color: #ff8e41;
    }

    /*селект*/
    /*поиск*/
    .headerMobile__search {
        display: none;
        padding: 10px 15px;
        position: relative;
        background-color: #faf6e5;
    }

    .js-show-search.active i {
        color: #475669;
    }

    .headerMobile__search .headerMobile__search-inp {
        background-color: white;
        border-radius: 5px;

        z-index: 1;
        border: none;
        width: 100%;
        box-sizing: border-box;
        position: relative;
        padding: 10px;
        font-size: 14px;
        font-family: 'apercu_pro', sans-serif;
        color: #475669;
    }

    /*поиск*/
    /*форма авторизации*/
    .headerMobile .registration-form {
        padding: 20px 15px;
        display: none;
        background: #faf6e5;

    }

    .headerMobile .registration-form .tabs-bar {
        border-color: white;
        padding-top: 0;
    }

    .headerMobile .registration-form .registration__line {
        display: block;
        margin-top: 30px;
    }

    .headerMobile .registration-form .bth__inp-block {
        border: 1px solid #f1ebd3;
        width: 60%;
    }

    .headerMobile .registration {
        position: relative;
    }

    .headerMobile .registration-form .registration__btn {
        background: #ff8e41;
        width: 60%;
        color: #fff;
        display: inline-block;
        margin-right: 10px;
    }

    .headerMobile .registration-form .registration__btn.registration__btn--count {
        background: white;
        color: #ff8e41;
        display: inline-block;
        margin-right: 10px;
        position: absolute;
        bottom: -85px;
        left: 0;

    }

    .headerMobile .registration-form .tab--reg {
        display: inline-block;
        width: auto;
    }

    .headerMobile .registration-form .line--reg {
        display: inline-block;
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 113px;
        height: 3px;
        background: #475669;
    }

    .headerMobile__stat {
        background-color: #f2eacb;
        padding: 10px 15px;
        position: relative;
        display: none;
        font-size: 18px;
    }

    .headerMobile__stat-icon {

        display: inline-block;
        vertical-align: middle;
        border-radius: 3px 0 0 3px;
        width: 55px;
        position: absolute;
        height: 100%;
        background: #faf6e5;
        top: 0;
        left: 0;
        background-image: url(/i/tophotels/group-grey.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 25px;
    }

    .headerMobile__stat-block {
        background-color: white;
        padding: 8px;
        padding-left: 70px;
        width: 100%;
        box-sizing: border-box;
        position: relative;
        border-radius: 5px;

    }

    /*форма авторизации*/

    .exit__block,
    .header-cnt {
        display: none
    }
}

@media screen and (max-width: 768px) {
    /*фиксировнный блок*/
    .tabs-block--hotelDescr .tabs-bar.fixed {
        position: fixed;
        left: 0;
        right: 0;
        width: 100%;
        margin: auto;
        top: 0;
        background: #fff;
        z-index: 10;
        padding-top: 16px;
        max-width: 1260px;
        border-bottom: 1px solid #eee;
    }

    .tabs-block--hotelDescr .tabs-bar.fixed .tabs-bar__ava {
        display: block;
        width: 35px;
        height: 35px;
        position: absolute;
        right: 10px;
        top: 9px;
    }

    .tabs-block--hotelDescr .tabs-bar.fixed .tabs-bar__ava img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50px;
    }

    .tabs-block--hotelDescr .tabs-bar.fixed .tabs-bar__ava img {

    }

    .tabs-bar__ava-noAuth {
        position: relative;
        display: none;
    }

    .tabs-bar__ava-noAuth::before {
        background-image: url(/i/travel_crm/key-orange.svg);
        background-repeat: no-repeat;
        width: 36px;
        height: 37px;
        content: '';
        background-size: 24px;
        background-position: center;
        background-color: white;
        display: block;
        position: relative;
        top: -36px;
    }

    .tabs-block--hotelDescr .tabs-bar.fixed .tab:not(:first-of-type) {
        display: none;
        padding-top: 5px;
        position: relative;
    }

    .tabs-block--hotelDescr .tabs-bar.fixed .tab {
        color: #318CC6;
    }

    .tabs-block--hotelDescr .tabs-bar.fixed .tabs-bar__burger {
        background-image: url(/i/tophotels/menu-button.svg);
        background-repeat: no-repeat;
        display: inline-block;
        width: 25px;
        height: 25px;
        position: absolute;
        top: 14px;
        left: 16px;
    }

    /*фиксировнный блок*/
}

@media screen and (max-width: 500px) {
    .headerMobile__navigation.active {
        padding-left: 15px;
    }

    .headerMobile__navigation .headerMobile__navigation-tabs {
        width: 100%;
    }

}

@media screen and (max-width: 425px) {

    .headerMobile__stat-block {
        width: auto;
    }

    .headerMobile .registration-form .bth__inp-block {
        width: 100%;
    }

    .headerMobile .registration-form .registration__btn {
        width: 100%;
    }
}

@media screen and (max-width: 417px) {

    .headerMobile__bottom-searches {
        display: none;
    }

}

