
.auth-line {
    width: 192px;
}

.authorization {
    padding: 20px;    background: linear-gradient(90deg,#e4e5ea,#e4e5ea);padding-bottom: 0;padding-top: 30px;
}

.authorization__title {
    margin-bottom: 15px;
    display: block;
    font-weight: 600;
    font-size: 18px;
    color: #475669;
    font-family: 'apercu_pro', sans-serif;
    padding-bottom: 17px;
    border-bottom: 1px solid white;
}

.authorization__inp-wrap {
    position: relative;
    display: block;
    width: 66%;
    margin-bottom: 35px;
    margin-right: 15px;
}

.page-new.auth {
    background: linear-gradient(90deg,#e4e5ea,#e4e5ea);
}

.authorization__form input {
    width: 100%;
    height: 56px;
    outline: none;
    background: #fff;
    border: 1px solid #c1c1c1;
    padding: 0 13px;
    font-weight: bold;
    font-size: 16px;
    color: #333;
}
.authorization__form label {
    font-weight: 600;
    color: #999;
    font-size: 16px;
    position: absolute;
    content: "";
    margin-left: 12px;
    top: 17px;
    font-family: 'apercu_pro', sans-serif;transition: 0.3s;
}


.authorization__form label.up,
input:-webkit-autofill + label {
    top: -24px;
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill{
    border: 1px solid #c1c1c1;
    -webkit-text-fill-color: #475669;
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
    transition: background-color 5000s ease-in-out 0s;
}

.authorization__inp-wrap--enter {
    border: 1px solid #ff8e41;
    outline: none;
    background: #ff8e41;
    color: #fff;
    text-align: center;
    border-radius: 0;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'apercu_pro', sans-serif;
    display: inline-block;
    padding: 17px 69px;
    width: 214px;
}

.authorization__inp-wrap--enter a {
    color: #ff8e41;
}

.authorization__inp-wrap--enter:hover {
    background: #e27200;
    border-color: #e27200;
}


.auth-form__eye {
    position: absolute;
    top: 23px;
    cursor: pointer;
    display: block;
    z-index: 1;
    width: 20px;
    height: 8px;
    right: 10px;
    background: url(/i/closed-eye-fine.png) no-repeat;
}
.auth-form__eye.active {
    background: url(/i/opened-eye-fine.png) no-repeat;
}