.topics-tbl td:last-of-type,
.topics-tbl th:last-of-type {
    text-align: left;
}

.topics-tbl td:first-of-type {
    width: 50px;
}

.topics-tbl .title-row td:first-of-type {
    font-weight: normal;
    font-size: 14px;
}
.topics-tbl .title-row {
   text-transform: uppercase;
}

.topics-tbl td {
    overflow: visible;
    white-space: normal;
}

.topics-tbl td > span {
    display: inline-block;
    margin-left: 10px;
}

.tbl-actions {
    position: absolute;
    display: none;
    right: 5px;
    top: 9px;
    background-color: inherit;
}

.tbl-actions i {
    font-size: 18px;
    margin-right: 5px;
}

.tbl-actions i:hover {
    color: #e03a3a;
}

.tbl-actions > * {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}

.tbl-actions__delete {
    width: 12px;
    height: 12px;
    display: inline-block;
    background: url(/i/close-12x12.png) no-repeat;
    margin-top: 2px;
    margin-right: 5px;
}

.tbl-actions__delete:hover {
    background: url(/i/close-12x12-red.png) no-repeat;
}

.form-add--topic textarea.active {
    height: 60px;
    min-height: 60px;
    transition: 1s;
}

