.right-block {
    position: absolute;
    right: 0px;
    top: -19px;
}

.country-list__tbl .tv__cell {
    border-bottom: none;
    padding: 10px 10px 10px 0;
    width: 25%;
}

.country-sorter__block {
    position: absolute;
    right: 10px;
    top: 17px;
}

.country-sorter__list {
    margin: 0;
    padding: 0px;
    list-style: none;
}

.country-sorter__item {
    display: inline-block;
    vertical-align: middle;
    /*margin-right: 10px;*/
}

.country-sorter__item .tv__link {
    display: block;
    width: 22px;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
    color: #ff8e41;
}

.country-sorter__item:last-child .tv__link {
    width: 35px;
}

.country-sorter__item .tv__link:hover {
    background: #fff;
}

.country-sorter__item .tv__link.active {
    color: #475669;
    background: #fff;
}

.country-list__tbl .tv__cell {
    font-weight: bold;
}

.border {
    display: block;
    width: 100%;
    height: 1px;
    background: #ccc;
    margin-top: 9px;
}

.countries-search .tv-search__inp-block {
    width: 300px;
}

@media screen and (max-width: 1279px){
    .country-sorter__block {
        position: relative;
        right: auto;
        top: auto;
        margin-top: 15px;
    }
}

@media screen and (max-width: 1023px){
    .country-sorter__block {
        display: none;
    }
    .countries-search.tv-search__inp-block {
        width: 400px;
    }
}

@media screen and (max-width: 768px) {
    .country-list__tbl .tv__cell {
        display: inline-block;
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .country-list__tbl .tv__cell {
        display: inline-block;
        width: 100%;
    }
    .countries-search .tv-search__inp-block {
        width: 100%;
        padding-right: 10px;
    }
}