.payments-tabs-bar {
    position: relative;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    font-family: 'apercu_pro', sans-serif;
}

.payments-tab {
    display: inline-block;
    width: auto;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    line-height: 20px;
    padding: 0px 0px 15px 0px;
    margin-right: 20px;
    color: #318cc6;
}

.payments-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 110px;
    height: 3px;
    background: #475669;
}

.payments-tab.active {
    color: #475669;
}

.payments-managers img {
    border-radius: 50px;
}

.payments-managers__all td {
    font-weight: bold;
    font-size: 15px;
}

@media screen and (max-width: 659px) {
    .payments-log tr td:nth-child(1)::before {
        content: 'Дата';
    }

    .payments-log tr td:nth-child(2)::before {
        content: 'Описание платежа';
    }

    .payments-log tr td:nth-child(3)::before {
        content: 'TPASS';
    }

    .payments-log tr td:nth-child(4)::before {
        content: '	Название клиента';
    }

    .payments-log tr td:nth-child(5)::before,
    .payments-managers tr td:nth-child(1)::before {
        content: '	Менеджер';
    }

    .payments-managers tr td:nth-child(2)::before {
        content: '	Транзакций';
    }

    .payments-managers tr td:nth-child(3)::before {
        content: '	Сумма';
    }

    .payments-managers .payments-managers__all td:nth-child(1)::before {
        content: '	';
    }
}