.header {
    position: relative;
}

.header-top-auth.min {
    padding: 10px 20px;
    height: auto;
    position: absolute;
    width: 61%;
    z-index: 1;
    background: #fff;
    padding-left: 0;
    left: 236px;
}

.header-top-nav-item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.header-top-nav-item.auth {
    display: none;
}

.header-top-profile-link {
     display: none;
    border-bottom: 1px dotted;
    vertical-align: middle;
    text-decoration: none !important;
    line-height: 1;
    font-family: 'apercu_pro', sans-serif;
    color: #3488b2;
}

.header-top-nav-link {
    display: inline-block;
    padding: 10px 0;
    text-decoration: none !important;
    font-size: 12px;
    color: #666;
    font-family: 'apercu_pro', sans-serif;
}

.header-cnt {
    height: 114px;
    padding-left: 238px;
    position: relative;
}

.header-logo {
    position: absolute;
    top: 31px;
    left: 26px;
}

.header-nav {
    padding-top: 55px;
}

.header-nav-list {
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 2px solid #efefef;
}

.header-nav-item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

.header-nav-item:last-child {
    margin-right: 0;
}

.header-nav-link {
    display: block;
    font-family: 'apercu_pro', sans-serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #318cc6;
    position: relative;
}

.header-nav-link.active,
.header-nav-link:hover {
    color: #475669;
    text-decoration: none;
}

.header-nav-link.active:before {
    width: 100%;
    border-bottom: 2px solid #475669;
    content: '';
    position: absolute;
    left: 0;
    bottom: -12px;
}

.exit__block {
    position: absolute;
    right: 20px;
    top: 10px;
}

.header__exit {
    display: inline-block;
    font-size: 14px;
    font-family: 'apercu_pro', sans-serif;
    color: #c83831;
    margin-left: 10px;
    cursor: pointer;
}

.header-bot {
    background-color: #f1ebd3;
    padding: 19px 25px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    z-index: 10;
    min-height: 93px;
}

.header-bot-cnt {
    position: relative;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-right: 45px;
    margin-left: 210px;
}

.header__news {
    position: relative;
    background: #fff;
    border-radius: 3px;
    height: 50px;
    width: 80%;
    font-size: 0;
}

.header__news-left {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 165px;
    background: #faf6e5;
    text-align: center;
    border-radius: 2px 0 0 2px;
}

.header__news-link {
    display: inline-block;
    padding: 16px 0 15px 0;
    font-size: 14px;
    color: #475669;
    font-family: 'apercu_pro', sans-serif;
    text-decoration: none;
}

.header__news-link:hover {
    color: #ff8e41;
}

.header__news-center {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    padding-bottom: 2px;
    width: calc(100% - 298px);
    padding-left: 10px;
    box-sizing: border-box;
}

.header__news-cnt {
    font-size: 14px;
    color: #475669;
    font-family: 'apercu_pro', sans-serif;
    line-height: 50px;
}

.header__news-btn {
    background-color: #fff;
    width: 125px;
    height: 52px;
    line-height: 40px;
    border: 1px solid #f1ebd3;
    outline: none;
    font-family: 'apercu_pro', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 11px;
    color: #475669;
    position: absolute;
    top: -1px;
    right: -1px;
    border-radius: 0 2px 2px 0;
}

.header__news-btn:hover {
    color: #ff8e41;
}

.header-profile {
    width: 213px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-right: 10px;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    top: 19px;
    left: 26px;
}

.header-profile-img {
    height: 46px;
    width: 46px;
    border-radius: 50%;
    float: left;
    margin-right: 12px;
    margin-top: 2px;
}

.header-profile-link {
    display: inline-block;
    margin-top: 5px;
    font-family: 'apercu_pro', sans-serif;
    font-weight: bold;
    font-size: 13px;
    border-bottom: none;
    color: #318cc6;
    text-decoration: none !important;
    line-height: 1;
    position: relative;
}

.profile-dropdown {
    display: inline-block;
    font-size: 10px;
    color: #318cc6;
}

.header-profile-city {
    margin-top: 2px;
    font-size: 11px;
    color: #475669;
    font-family: 'apercu_pro', sans-serif;
}

.header-lang {
    position: absolute;
    right: 25px;
    top: 19px;
}

.lang-block {
    position: relative;
    padding: 16px 5px 17px 25px;
    cursor: pointer;
    background: #faf6e5;
    border-radius: 2px;
}

.lang-block__cnt {
    display: inline-block;
    min-width: 26px;
    font-size: 13px;
    text-transform: uppercase;
    color: #ff8e41;
    font-weight: bold;
    font-family: 'apercu_pro', sans-serif;
    margin-right: 2px;
}

.lang__arr {
    font-size: 14px;
    color: #ff8e41;
    transition: 0.3s;
}

.lang-block.active .lang__arr {
    transform: rotate(180deg);
}

.lang-block__dropdown {
    display: none;
    position: absolute;
    left: 0;
    top: 44px;
    background: #fff;
    width: 100%;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.11);
    border-radius: 2px;
    overflow: hidden;
}

.lang-block__dropdown.active {
    display: block;
}

.lang-block__lang {
    display: block;
    padding: 13px 25px 12px 25px;
    font-size: 13px;
    font-family: 'apercu_pro', sans-serif;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    color: #475669;
    text-transform: uppercase;
    background: #faf6e5;
    font-weight: bold;
}

.header-menu {
    background-color: #f2eacb;
    display: none;
    width: 100%;
    height: 50px;
    min-width: 320px;
    padding: 0 15px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header-menu-link {
    font-family: 'apercu_pro', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none !important;
    line-height: 50px;
    color: #000;
}

.header-menu-link:before {
    background-image: url(/i/menu6.png);
    display: inline-block;
    vertical-align: middle;
    width: 13px;
    height: 12px;
    margin-right: 15px;
    margin-bottom: 2px;
    content: '';
}

.header-stat__block {
    position: relative;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-right: 45px;
    margin-left: 210px;
}

.header-stat__item {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    height: 55px;
    position: relative;
    width: 162px;
    background-color: #faf6e5;
    font-size: 12px;
    padding: 11px;
    color: #475669;
    padding-top: 13px;
    margin-right: 10px;
    border-radius: 2px;
    box-sizing: border-box;
}


.header.header--anonim .header__auth {
    padding-top: 19px;
}

.header.header--anonim .header-lang.lang-auth {
    bottom: 22px;
}
.header.header--anonim .header-profile-img {
    bottom: 22px;
    position: absolute;
    left: 26px;
}
.header.header--anonim  .auth__item {
    margin-bottom: 0;
}





@media screen and (max-width: 1279px) {
    .header-nav-link {
        font-size: 16px;
    }
    .header-nav-item {
        margin-right: 13px;
    }
}

@media screen and (max-width: 1023px) {
    .header-cnt {
        height: 162px;
    }
    .header-menu {
        display: block;
    }
    .header-menu_slim .header-menu-link {
        font-size: 15px;
        text-transform: uppercase;
        margin-right: 3%;
    }
    .header-menu_slim .header-menu-link::before {
        margin-right: 10px;
    }
    .header-menu-link_heading::before {
        background-image: url(/i/header-menu-link_heading.png);
    }
    .header-top-auth.min {
        width: auto;
        left: 0;
        right: 0;
        top: 50px;
        margin-top: 0;
        padding-left: 15px;
    }
    .header-cnt_index .header-logo {
        position: absolute;
        display: block;
        width: 112px;
        margin: 17px auto 0;
        top: initial;
        bottom: 20px;
        right: 0;
        left: 0;
    }
    .header-nav {
        display: none;
        padding: 0;
        position: absolute;
        right: 15px;
        top: 24px;
        width: 160px;
    }
    .header-logo img {
        width: 100%;
    }
    .header-top-nav-item.auth {
        display: inline-block;
        line-height: 35px;
    }
    .header-top-profile-link {
        display: inline-block;
    }
    .header {
        padding: 0;
    }
    .header-cnt_index .header-logo {
        position: absolute;
        display: block;
        width: 112px;
        margin: 17px auto 0;
        top: initial;
        bottom: 20px;
        right: 0;
        left: 0;
    }
    .logo-block {
        position: absolute;
        display: block;
        width: 120px;
        margin: 17px auto 0;
        top: initial;
        bottom: 8px;
        right: 0;
        left: 0;
    }
    .header-top-nav-item {
        display: inline-block;
    }

    .header__news {
        width: 100%;
    }
    .header-top-nav-item.auth {
        display: inline-block;
        line-height: 35px;
    }
    .header-bot {
        padding: 15px;
    }
    .logo__link {
        font-size: 11px;
        letter-spacing: 0.2px;
    }
    .logo-club-profile-img-block {
        top: 13px;
        left: 37px;
        width: 28px;
        height: 28px;
    }
    .header-profile,
    .header-lang {
        display: none;
    }

    .header-bot-cnt {
        margin: 0;
        padding: 0;
    }

    .header-stat__block {
        padding-left: 0;
      margin-left: 0;
    }

}


@media screen and (max-width: 768px) {
    .header__news-cnt {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .header-top-nav-item:not(:first-child) {
        display: none;
    }
}

@media screen and (max-width: 639px) {
    .header__news-btn {
        width: 100px;
    }
    .header__news-left {
        width: 104px;
    }
    .header__news-btn {
        display: none;
    }

    .hide-639 {
        display: none;
    }
    .header-bot-suggest .header__news-left {
        width: 50px;
    }
    .header__dropdown-item .search-result {
        max-width: 190px;
    }
    .header__news-center {
        width: calc(100% - 130px);
    }
}

@media screen and (max-width: 479px) {
    .header__news-left {
        display: none;
    }
    .header__news-center {
        width: 100%;
    }
}