#id-personal-data-avatar-widget-popup .filter-pp {
    width: auto;
    max-width: 750px;
    margin: 0 auto;
    left: auto;
}

.personal-data-avatar-widget-element-hint .hint {
    padding: 14px 6px;
}



