.browsing-history__tbl .bth__cell {
    border-bottom: 1px solid #ccc;
    padding: 7px;
    vertical-align: top;
}

.browsing-history__tbl .head__tbl .bth__cell {
    padding: 5px 7px;
}

.browsing-history__tbl .head__tbl .bth__cnt {
    color: #999;
    font-size: 12px;
}

.browsing-history__tbl .bth__cell:first-child {
    width: 75px;
}

.browsing-history__tbl .bth__cell:nth-child(3) {
    width: 80px;
}

.browsing-history__tbl .bth__cell:last-child {
    width: 250px;
    text-align: right;
}

.browsing-history__tbl .last-page {
    display: inline-block;
    width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 1279px){
    .browsing-history__tbl .bth__cell:last-child {
        width: 200px;
    }
    .browsing-history__tbl .last-page {
        width: 180px;
    }
}


@media screen and (max-width: 768px){
    .browsing-history__tbl .head__tbl {
        display: none;
    }
    .browsing-history__tbl .bth__cell {
        display: block;
        border-bottom: none;
        padding: 5px 0;
    }
    .browsing-history__tbl .bth__cell:first-child {
        width: 100%;
        padding-top: 7px;
    }
    .browsing-history__tbl .bth__cell:nth-child(3) {
        width: 100%;
    }
    .browsing-history__tbl .bth__cell:last-child {
        width: 100%;
        padding-bottom: 7px;
        border-bottom: 1px solid #ccc;
        text-align: left;
    }
    .browsing-history__tbl .last-page {
        width: 260px;
    }
}
