.filter-pp {
    position: relative;
    max-width: 750px;
    height: auto;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5);
    background: #e4e5ea;
    padding-bottom: 20px;
    text-align: left;
    margin: 40px auto;
}

.filter-pp__close {
    position: absolute;
    top: 27px;
    right: 0px;
    width: 12px;
    height: 12px;
    background: url(/i/close-12x12.png) no-repeat;
    cursor: pointer;
}

.filter-pp__close:hover {
    background: url(/i/close-12x12-red.png) no-repeat;
}
.filter-pp__top.filter-pp__top--sm  .filter-pp__close {
    top: 24px;
}
.filter-pp__ttl2 {
    color: #475669;
    font-size: 20px;
    font-weight: normal;

}
.filter-pp-white {
    max-height: 605px;    max-width: 900px;
    overflow-y: auto;
}

.filter-pp-white__wrap {
    background-color: white;
    padding: 10px;
    border-radius: 2px;
}

.filter-pp__top {
    padding: 25px 0px 17px;
    margin: 0 30px;
    position: relative;
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
}

.filter-pp__section {
    padding: 0px 30px;
    margin-top: 20px;
}

.filter-pp__ttl-block {
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
    color: #999;
}

.filter-pp .rbt-block,
.filter-pp .cbx-block {
    display: block;
    margin-bottom: 5px;
}


.filter-pp__top.filter-pp__top--sm {
    padding: 15px 0;
}

.filter-pp .rbt + .label-rbt,
.filter-pp .cbx + .label-cbx {
    padding-left: 27px;
}

.filter-pp__btn {
    position: relative;
    height: 52px;
    line-height: 50px;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    transition: all .1s;
    width: 270px;
    color: #fff;
    background: #ff8e41;
    border: 1px solid #dfdfdf;
}

.filter-pp__btn:hover {
    background: rgb(226, 114, 0);
}

.filter-pp__col {
    display: inline-block;
    vertical-align: top;
    width: 200px;
}

.filter-pp__col .rbt-block {
    display: block;
    margin-bottom: 10px;
}

.filter-pp__link-del {
    color: #999;
    font-size: 14px;
    display: inline-block;
    margin-left: 10px;
}

.filter-pp__ul {

}

.filter-pp__ul li {
    font-size: 13px;
}

.filter-pp__p {
    font-size: 13px;
    margin-bottom: 10px;

}

.filter-pp__h2 {
    font-size: 17px;
    margin-bottom: 15px;
    margin-top: 15px;
}

@media screen and (max-width: 1023px) {
    .filter-pp__top.filter-pp__top--sm {
        margin: 0 10px;
    }

    .filter-pp__section {
        padding: 0 10px;
    }

}

@media screen and (max-width: 768px) {
    .filter-pp__link-del {
        width: 100%;
        display: block;
        text-align: center;
        margin-top: 20px;
        box-sizing: border-box;
        margin-left: 0;
    }
}

@media screen and (max-width: 639px) {
    .filter-pp__inp-block {
        width: 100%;
    }
}

@media screen and (max-width: 479px) {
    .filter-pp__btn {
        width: 100%;
    }
}
