.hotel-descr-tabs-bar {
    position: relative;
    font-size: 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    font-family: 'apercu_pro', sans-serif;
}

.hotel-descr-tab {
    display: inline-block;
    width: auto;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    line-height: 20px;
    padding: 2px 0px 15px 0px;
    margin-right:20px;
    color: #318cc6 ;
}


.hotel-descr-tab.active {
    color: #475669 ;
}


.hotel-descr-line {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 80px;
    height: 3px;
    background: #475669;
}

.description--left {
    display: inline-block;
    vertical-align: top;
    width: 69%;
    position: relative;
}

.description--right {
    display: inline-block;
    vertical-align: top;
    float: right;
    width: 28%;
}

.square {
    display: block;
    border: 1px solid #ccc;
    width: 100%;
    height: 200px;
    margin-top: 20px;
    box-sizing: border-box;
}

.description__photo-block {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-top: 20px;
    white-space: nowrap;
}


.description__photo {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 120px;
    margin-right: 8px;
    border-radius: 2px;
    overflow: hidden;
}


.description__photo-overlay {
    position: absolute;
    display: block;
    right: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    background: rgba(255,255,255,0.7);
    font-size: 16px;
    padding-top: 48px;
    padding-left: 12px;
    color: #475669;
}

.description__photo-link {
    margin-top: 10px;
}

.description__photo-link-item {
    display: inline-block;
    margin-right: 20px;
}

.description-ttl-block {
    position: relative;
}

.description-ttl-block:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: #999;
    top: 38px;
    left: 0;
}

.bth__ttl-h2.description-ttl {
    display: inline-block;
    position: relative;
    margin-top: 20px;
    text-transform: uppercase;
    background: #fff;
    padding-right: 20px;
}

.bth__tbl.description__tbl {
    margin-top: 20px;
}

.description__tbl .bth__cell  {
    vertical-align: top;
    padding: 5px 0px;
}

.description__tbl .bth__cell:first-child {
    width: 220px;
}

.description__star-block {
    display: inline-block;
    vertical-align: top;
    padding-top: 4px;
}

.description-star {
    display: inline-block;
    margin-right: 3px;
    font-size: 16px;
    color: #e7bb08;
}

.bth__cnt.star__cnt {
    display: inline-block;
    vertical-align: top;
    background: url(/i/tophotels/icon-star-big.png) no-repeat 0px 2px;
    background-size: 16px;
    padding-left: 20px;
    margin-top: 2px;
    margin-left: 40px;
}

.bth__btn.transfer__btn {
    width: 290px;
    margin-top: 15px;
}

.description__cnt-block {
    border-top: 1px solid #ccc;
    margin-top: 15px;
    padding-top: 15px;
}

.description-anchor {
    display: inline-block;
    margin-top: 5px;
}

.description__photo-big-block {
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 2px;
    overflow: hidden;
}

.description__abs-block {
    position: absolute;
    right: 0;
    top: 17px;
}

.description__right-img {
    margin-top: 65px;
}

.description__photo-big-wrap {
    position: relative;
}

.description__photo-big-right {
    position: absolute;
    right: -250px;
    top: -4px;
    background: #fff;
}


.description__photo-big-right .description__photo-link-item {
    display: block;
    margin-bottom: 10px;
}

.description__photo-big-right .photo-link {
    font-size: 16px;
}

.description__rev-wrap {
    position: relative;
}

.description__rev-right {
    position: absolute;
    right: -228px;
    top: 0;
}

.bth__btn.rev-right__btn {
    width: 180px;
}

.description__rev-right .description__photo-link-item {
    display: block;
    margin-bottom: 10px;
}
