.topline-new-pass {
    background: #faf6e5;
    color: #475669;
    padding: 20px;
    padding-left: 238px;
    font-size: 14px;
    font-family: 'apercu_pro', sans-serif;
}

.topline-new-pass .tabs-bar {
    border-color: white;
}

.topline-new-pass .bth__inp-block {

    margin-top: 30px;
    border: 1px solid #f1ebd3;
}

@media screen and (max-width: 1023px) {
    .topline-new-pass {
        padding-left: 15px;
        padding-top: 0; }
}