.detail__item {
    border: 3px solid #ccc;
    padding-bottom: 7px;
    margin-bottom: 20px;
}

.detail__item:last-child {
    margin-bottom: 0;
}



.detail__top {
    position: relative;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 7px;
}

.detail__tbl  {

}
.detail__tbl .bth__cell {
    padding: 5px 10px;
    vertical-align: top;
}

.detail__tbl .bth__cell:first-child  {
    width: 240px;
}

.detail__cnt-block {
    padding: 10px;
}

.detail__btn-block {
    position: relative;
    padding: 10px;
}

.bth__btn.detail__btn {
    width: 180px;
    margin-right: 20px;
    display: inline-block;
    vertical-align: top;

}

.detail__close-link {
    position: absolute;
    right: 10px;
    bottom: 21px;
}

.detail__right-block {
    position: absolute;
    right: 10px;
    top: 12px;
}

.detail__ttl {
    text-transform: uppercase;
    font-size: 19px;
    font-family: 'apercu_pro', sans-serif;
    font-weight: bold;
}

.detail__status-block {
    padding: 23px 15px;
}

.detail__ava-block {
    position: absolute;
    right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 10px;
    overflow: hidden;
}

.detail__item .bth__ta-block {
    height: 60px;
    transition: 0.3s;
}

.detail-more {
    margin-left: 10px;
    font-weight: normal;
}

.user__cnt {
    display: block;
    max-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


@media screen and (max-width: 768px){
    .detail__tbl .bth__cell {
        display: block;
    }
    .detail__tbl .bth__cell:first-child {
        padding-bottom: 0;
    }
    .detail__tbl .bth__cell:last-child {
        padding-top: 0;
    }
}

@media screen and (max-width: 639px){
    .detail__btn-block {
        display: inline-block;
        text-align: center;
    }
    .bth__btn.detail__btn {
        display: block;
        margin-right: 0;
    }
    .bth__btn.detail__btn.confirm {
        margin-bottom: 15px;
    }
    .detail__right-block {
        display: block;
        position: relative;
        right: auto;
        top: auto;
        margin-top: 10px;
    }
    .detail__close-link {
        display: block;
        position: relative;
        right: auto;
        bottom: auto;
        margin-top: 10px;
    }
}

@media screen and (max-width: 479px) {

}