.my-settings__tbl .bth__cell {
    border-bottom: 1px solid #ccc;
    padding: 7px;
    vertical-align: top;
}

.my-settings__tbl .head__tbl .bth__cell {
    padding: 5px 7px;

}
.my-settings__tbl .head__tbl .bth__cnt {
    color: #999;
    font-size: 12px;
}

.my-settings__tbl .bth__cell:first-child {
    width: 50px;
}

.my-settings__tbl .bth__cell:nth-child(3) {
    width: 290px;
}

.my-settings__tbl .bth__cell:last-child {
    width: 150px;
    text-align: right;
}
@media screen and (max-width: 1279px){
    .my-settings__tbl .bth__cell:nth-child(3) {
        width: 245px;
    }
}

@media screen and (max-width: 768px){
    .my-settings__tbl .bth__row {
        display: block;
        position: relative;
    }
    .my-settings__tbl .head__tbl,
    .my-settings__tbl .bth__cell:first-child {
        display: none;
    }
    .my-settings__tbl .bth__cell {
        display: block;
        border-bottom: none;
        padding: 5px 0;
    }
    .my-settings__tbl .bth__cell:nth-child(2) {
        padding-right: 30px;
    }
    .my-settings__tbl .bth__cell:nth-child(3) {
        width: 100%;
        border-bottom: 1px solid #ccc;
        padding-bottom: 7px;
    }
    .my-settings__tbl .bth__cell:last-child {
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
    }
}
