.rating-countries-tabs-bar {
    position: relative;
    font-size: 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    font-family: 'apercu_pro', sans-serif;
}

.rating-countries-tab {
    display: inline-block;
    width: auto;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    line-height: 20px;
    padding: 2px 0px 15px 0px;
    margin-right:20px;
    color: #318cc6 ;
}


.rating-countries-tab.active {
    color: #475669 ;
}

.rating-countries-line {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 124px;
    height: 3px;
    background: #475669;
}

.rating__tbl .bth__cell {
    vertical-align: top;
    padding: 7px;
    border-bottom: 1px solid #ccc;
}

.rating__tbl .head__tbl .bth__cell {
    padding: 5px 7px;
}
.rating__tbl .head__tbl .bth__cnt {
    font-size: 12px;
    color: #999;
}

.rating__tbl .bth__cell:first-child {
    width: 40px;
}

.rating__tbl .bth__cell:nth-child(3){
    width: 200px;
    text-align: right;
}

.rating__tbl .bth__cell:nth-child(4){
    width: 200px;
    text-align: right;
}

.rating__tbl .bth__cell:last-child {
    width: 200px;
    text-align: right;
}

@media screen and (max-width: 768px) {
    .rating__tbl .head__tbl,
    .rating__tbl .bth__cell:first-child {
        display: none;
    }
    .rating__tbl .bth__cell {
        display: block;
        border-bottom: none;
        padding: 5px 0;
    }
    .rating__tbl .bth__cell:nth-child(2) {
        padding-top: 7px;
    }
    .rating__tbl .bth__cell:nth-child(3),
    .rating__tbl .bth__cell:nth-child(4) {
        width: 100%;
        text-align: left;
    }
    .rating__tbl .bth__cell:last-child {
        border-bottom: 1px solid #ccc;
        padding-bottom: 7px;
        width: 100%;
        text-align: left;
    }
    .rating-countries-tab {
        display: block;
        text-align: left;
        padding: 5px 0px;
    }
    .rating-countries-line {
        display: none;
    }
    .rating-countries-tabs-bar {
        margin-top: 20px;
        padding-bottom: 20px;
    }
}
