.filter-big--price-calendar .bth__row.bth__row--dbl .bth__cell--dbl {
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.filter-big--price-calendar .bth__row.bth__row--dbl .bth__cell--dbl .bth__inp-block {
    width: 150px;
    display: inline-block;
}

.priceCalendar-top {
    display: flex;
    background: #e5f6ed;
    position: relative;
    padding: 15px;
    font-size: 14px;
    font-family: 'apercu_pro', sans-serif;
    color: #475669;
    line-height: 20px;
    align-items: center;
    word-break: break-word;
}

.priceCalendar-top__bubble {

    background-color: white;
    border-radius: 5px;
    text-transform: uppercase;
    color: #ff8e41;
    box-sizing: border-box;
    padding: 10px 15px;
    margin-right: 15px;
}

.priceCalendar-top__bubble-sm {
    text-transform: lowercase;
    font-size: 13px;
    color: #475669;
    font-weight: normal;
}

.priceCalendar-top__cross {
    width: 30px;
    cursor: pointer;
    margin-left: auto;

    height: 30px;
    background-image: url(/i/tophotels/cross-thin-grey.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}

.priceCalendar-top__cross:hover {
    background-image: url(/i/tophotels/cross-thin.svg);
}

.priceCalendar-top__txt {
    font-size: 16px;

}

.price-calendar-tbl .bth__cell:first-of-type {
    width: 45px;
}

.price-calendar-tbl--edit-log .bth__cell:first-of-type {
    width: auto;
    max-width: 225px;

}
.price-calendar-tbl--edit-log .bth__row .bth__cell:last-of-type{
    text-align: right;

}
.price-calendar-tbl .bth__cell:nth-child(2) b,
.price-calendar-room {
    width: 99%;
    white-space: nowrap;
    font-weight: bold;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    margin-bottom: 1px;
    display: block;
}

.price-calendar-tbl .bth__cell:nth-child(2):hover .hint {
    display: block;
    top: 34px
}

.price-calendar-tbl .bth__cell:nth-child(2) {
    max-width: 200px;
}

.price-calendar-tbl .bth__cell {
    border-bottom: 1px solid #cccccc;
    vertical-align: top;
    position: relative;
    padding: 10px;
}

.price-calendar-tbl {
    width: 100%;
    margin-top: 20px;
}

.price-calendar-tbl .head__tbl,
.price-calendar-step2-tbl .head__tbl {
    display: table-header-group;
}

.price-calendar-tbl .body__tbl,
.price-calendar-step2-tbl .body__tbl {
    display: table-row-group;
}

.price-calendar-tbl .head__tbl .bth__cell {
    padding: 5px 10px;
}

.price-calendar-tbl .head__tbl .bth__cnt {
    color: #999;
    font-size: 12px;
}

.price-calendar-tbl.v2 .bth__row .bth__cell {
    border-top: 1px solid #cccccc;
}

.price-calendar-tbl.v2 .bth__row .bth__cell:last-of-type {
    border-right: 1px solid #cccccc;
}

.price-calendar-tbl.v2 .bth__row .bth__cell:first-of-type {
    border-left: 1px solid #cccccc;
}

.price-calendar-tbl.v2 {
    margin-top: 150px;
}

.filter-avia .short-inp.short-inp-sm {
    width: 100px;
}

.filter-avia button {
    width: 159px;
    padding: 7px 0;
}

.price-calendar-step2-tbl .head__tbl .bth__cnt {
    text-transform: uppercase;
    font-weight: bold;
}

.price-calendar-step2-tbl {
    margin-top: 20px;
    width: 100%;
}

.price-calendar-step2-tbl__date {
    position: absolute;
    left: 10px;
    font-weight: bold;
    font-family: 'apercu_pro', sans-serif;
    color: #9E9E9E;
    font-size: 12px;
    line-height: 20px;
}

.bth__cnt-show-760 {
    display: none;
    font-size: 16px;
    font-family: 'apercu_pro', sans-serif;
    color: black;
    position: absolute;
    top: 3px;
    line-height: 20px;
}

.price-calendar__month .body__tbl {
    display: flex;
    flex-wrap: wrap;
    border-left: 1px solid #cccccc;
}

.price-calendar__month .bth__cell {
    padding: 13px 10px;
    position: relative;
    width: 142px;
    height: 68px;
    text-align: right;
    border-bottom: 1px solid #cccccc;

}

.price-calendar-h2 {
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #475669;
    display: inline-block;
    margin-right: 20px;
    font-family: 'apercu_pro', sans-serif;

}

a.price-calendar-h2:hover {
    color: #318CC6;
}

.price-calendar__month .bth__cell > div + div {
    width: 100%;
    text-align: right;
}

.price-calendar-step2-tbl .head__tbl .bth__cell {
    width: 142px;
    height: 33px;
    display: inline-block;
    border-left: 0;
    border-right: 0;
    padding-top: 0;
    text-align: left;
}

.price-calendar-tbl--descr .bth__cell b:last-of-type {
    margin-right: 5px;
    display: inline-block;
}

.price-calendar-tbl--descr .bth__cell b:first-of-type {
    display: inline-block;
    margin-right: 5px;

}

.price-calendar-tbl--descr .bth__cell:nth-child(2) {
    width: 265px;
}

.price-calendar__month .bth__cell > div {
    display: inline-block;
}

.price-calendar__month .bth__cell {
    border-bottom: 1px solid #cccccc;

    border-right: 1px solid #cccccc;
}

.price-calendar__month .bth__cell .red {
    text-transform: uppercase;
    font-size: 16px;
}

.price-calendar__month a {
    font-size: 18px !important;
}

.price-calendar-sell .book-request__date-block .bth__inp-block,
.price-calendar-sell .book-request__guest-block .bth__inp-block {
    width: 250px;
}

.price-calendar-sell .book-request__date-block,
.price-calendar-sell .book-request__guest-block {

    display: inline-block;
}

.price-calendar-sell .book-request__room-block {
    width: 100%;
}

.price-calendar-sell .book-request__room-block .bth__ta-block {
    height: 75px;
    width: 100%;
}

.price-calendar-sell .book-request__room-block .bth__ta-block.active {
    height: 95px;
}

.price-calendar-sell {
    margin-top: 120px;
}

.priceCalendar-top + .section.filter-avia .bth__inp-block.room-night {
    width: 100px;

}

@media screen and (max-width: 1272px) {
    .price-calendar-step2-tbl .head__tbl,
    .price-calendar__month .price-calendar__month-empty {
        display: none;
    }

    .priceCalendar-top + .section.filter-avia {
        padding-bottom: 15px;
    }

    .price-calendar__month .bth__cell {
        border-bottom: 1px solid #cccccc;
        border-right: 1px solid #cccccc;
        border-top: 1px solid #cccccc;
    }

    .filter-avia button.flr {
        float: none !important;
    }
}

@media screen and (max-width: 841px) {

    .price-calendar-step2-tbl .bth__row {
        display: inline-block;
    }

    .price-calendar-step2-tbl .bth__row .bth__cell {
        display: inline-block;
        vertical-align: top;
        padding-top: 25px;
        width: 109px;
        height: 68px;
    }

    .price-calendar-step2-tbl .bth__row .bth__cell::before {
        display: block;
        position: absolute;
        height: 10px;
        content: '';
        top: -4px;
        font-family: 'apercu_pro', sans-serif;
        font-weight: normal;
        font-size: 16px;
        color: black;
    }

}

@media screen and (max-width: 817px) {
    .price-calendar-step2-tbl .bth__row .bth__cell {
        width: 185px;
    }
}

@media screen and (max-width: 639px) {
    .price-calendar__month .bth__cell {
        width: 127px;
    }

    .priceCalendar-top {
        flex-direction: column;
    }

    .priceCalendar-top__bubble {
        margin-right: 0;
        width: 100%;
    }

    .priceCalendar-top .priceCalendar-top__bubble:not(:last-of-type) {

        margin-bottom: 10px;
    }

    .price-calendar-tbl .bth__row .bth__cell {
        display: block;
        padding-top: 25px;
        width: 100%;
    }

    .bth__cnt-show-760 {
        display: block;
    }

    .priceCalendar-top + .section.filter-avia .bth__inp-block.room-night {
        width: 100%;
    }

    .price-calendar-tbl .bth__row .bth__cell::before {
        display: block;
        position: absolute;
        height: 10px;
        content: '';
        top: -4px;
        font-family: 'apercu_pro', sans-serif;
        font-weight: normal;
        font-size: 16px;
        color: black;
    }

    .price-calendar-tbl .bth__row .bth__cell {
        border: none;
    }

    .priceCalendar-top__cross {
        display: none;
    }

    .price-calendar-tbl .bth__cell:nth-child(2) {
        max-width: none;
        padding-top: 25px;
    }

    .price-calendar-tbl .bth__row .bth__cell:first-of-type {
        display: none;
    }

    .price-calendar-tbl .bth__row .bth__cell:nth-child(2):before {
        top: 0px;
    }

    .price-calendar-tbl .head__tbl {
        display: none;
    }

    .filter-avia button {
        float: none !important;
        width: 100%;
    }

    .filter-avia .short-inp.short-inp-sm {
        width: 100%;
    }

    .price-calendar-tbl .bth__cell:nth-child(2)::before {
        content: 'Номер';
    }

    .price-calendar-tbl .bth__row .bth__cell:last-of-type {
        border-bottom: 1px solid #cccccc;
        padding-bottom: 15px;
        margin-bottom: 15px
    }

    .price-calendar-tbl .bth__cell:nth-child(2) b {
        width: 280px;
    }

    .price-calendar-tbl.v2 {
        display: none;
    }

    .price-calendar-tbl--descr .bth__row .bth__cell:nth-child(2) {
        padding-top: 10px;
    }

    .price-calendar-tbl--descr .bth__row .bth__cell:nth-child(2):before {
        content: '';
    }

    .price-calendar-tbl--descr .bth__row .bth__cell:last-of-type {
        padding-top: 10px;
        margin-bottom: 0;
    }

}

@media screen and (max-width: 425px) {
    .price-calendar__month .bth__cell {
        width: 50%;
    }
}
