
.sorter__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sorter__item {
    display: inline-block;
    /*margin-right: 20px;*/
}

.sorter__item:first-child .sorter__link {
    padding-left: 0;
}

.sorter__item .sorter__link {
    display: block;
    padding: 7px 15px 7px 0px;
    color: #ff8e41;
    text-decoration: none;
    font-family: 'apercu_pro', sans-serif;
    font-size: 14px;
}

.sorter__item .sorter__link.active {
    color: #475669;
}
