.page-tape {
    background-color: #fff;
    min-width: 320px;
    max-width: 1260px;
    min-height: 100%;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 49px;
}


.content-tape3 {
    padding-right: 10px;
}
.tape-pp {
    display: block;
    margin-top: 20px;
    color: #318cc6;
}
.bth-tape__date {
    position: absolute;
    top: -14px;
    left: 0;
}

.bth__hotel-pp {
    position: absolute;
    padding: 15px 20px;
    background: #fff;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,.2);
    z-index: 1;
    width: 465px;
}

.hotel-pp__inp-block {
    border: 1px solid #999999;
    padding: 5px 10px;
    border-radius: 3px;
    margin-bottom: 15px;
}

.hotel-pp__inp {
    width: 100%;
    border: none;
    font-size: 16px;
    font-family: 'apercu_pro', sans-serif;
}

.hotel-pp__item {
    position: relative;
    padding: 5px;
    border-bottom:  1px solid #F1F1F1;
    cursor: pointer;
}

.hotel-pp__item:hover {
    background: #f6f6f6;
}

.hotel-pp__name {
    font-size: 15px;
    font-family: 'apercu_pro',sans-serif;
}
.hotel-pp__id {
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -8px;
    color: #999;
    font-size: 13px;
    font-family: 'apercu_pro', sans-serif;
}

.tape__tbl .bth__cell {
    position: relative;
    border-top: 1px solid #F1F1F1;
    border-bottom: 1px solid #F1F1F1;
    vertical-align: top;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tape__tbl .bth__cell:first-child {
    padding: 10px 11px;
    width: 340px;
    box-sizing: border-box;
    border-left:1px solid #F1F1F1;
}

.tape__tbl .bth__cell:last-child {
    width: 135px;
    text-align: right;
    border-right:1px solid #F1F1F1;
}

.separator {
    height: 20px;
}

.user__block {
    display: block;
    position: relative;
}

.user__ava-block {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 100px;
    margin-right: 7px;

}

.user__ava-block.no-ava {
    border: 1px solid #ccc;
    text-align: center;
}

.no-ava--pink {
    background: #ff7195;
}

.no-ava--lightblue {
    background: #4cb9db;
}

.no-ava--blue {
    background: #618feb;
}

.no-ava--orange {
    background: #fc964e;
}

.no-ava--violet {
    background: #9571db;
}

.no-ava--lightgreen {
    background: #bcdb4f;
}

.no-ava--yellow {
    background: #ffdb6e;
}


.no-ava-let {
    display: block;
    margin-top: 20px;

    font-size: 40px;
    color: #fff;
    
}

.user__info-block {
    display: inline-block;
    vertical-align: top;
}

.tape__tbl .bth__link.user-name {
    display: inline-block;
    width: 187px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bth__cnt.place {
    display: block;
    width: 187px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bth__tbl-in {
    display: table;
    /*width: 100%;*/
}

.bth__row-in {
    display: table-row;
}

.bth__cell-in {
    display: table-cell;
    vertical-align: top;
    padding: 0 15px 0 0;
    height: auto;
    font-family: 'apercu_pro',sans-serif;
}

.bth-tape2__block .bth-tape__date {
    position: absolute;
    bottom: 10px;
    right: 10px;
    left: auto;
    top: auto;
}

.bth-tape__img-block {
    margin-top: 5px;
}
.bth-tape__img-b {
    position: relative;
    display: inline-block;
    margin-right: 8px;
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.bth-tape__img-b:last-child {
    margin-right: 0;
}

.bth-tape__img-b.last:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(51, 51, 51, 0.5);
}

.bth-tape__more-ph {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    left: 8px;
    color: #FFFFFF;
    text-transform: lowercase;
    font-size: 13px;
    font-family: 'apercu_pro', sans-serif;
    z-index: 1;
}

.hotel-top__my {
    position: absolute;
    right: 30px;
    top: 10px;

}

.hotel__block {
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-family: 'apercu_pro', sans-serif;
    color: #ff8e41;
}

.myhotel__link {
    color: #ff8e41;
    text-decoration: none;
}

.hotel__dropdown {
    display: none;
    position: absolute;
    right: -5px;
    top: 30px;
    width: 350px;
    background: #fff;
    z-index: 1;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

.hotel__dropdown-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #f2f2f2;
    text-transform: none;
    color: #475669;
}

.hotel__dropdown-item:hover {
    background: #E4E4E4;

}

.hotel__dropdown-saggest-block {
    padding: 10px;
    border-bottom: 1px solid #f2f2f2;
}

.hotel__dropdown-saggest {
    width: 100%;
    height: 36px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.hotel__dropdown-inp {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    padding: 6px 7px 8px;
    font-size: 14px;
    font-weight: bold;
    font-family: "apercu_pro", sans-serif;
    color: #475669;
}


.hotel-top__block {
    position: relative;
    display: block;
    padding: 10px 25px 10px 235px;
    border-bottom: 1px solid #f1ebd3;
}

.hotel-top__link {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    color: #318cc6;
    text-decoration: none;
    position: relative;
    font-family: 'apercu_pro', sans-serif;
    font-size: 15px;
    border-bottom: none;
    left: auto;
}

.hotel-top__link--abs {
    position: absolute;
    left: 25px;
    top: 10px;
}

.hotel-top__cnt-block {
    position: relative;
    padding-bottom: 1px;
}

.hotel-top__cnt {
    display: inline-block;
    vertical-align: middle;
    font-family: 'apercu_pro', sans-serif;
    color: #475669;
    font-size: 15px;
}

.under-vpn {
    color: #c83831;
    position: relative;
}

.hotel__my-arr {
    font-size: 14px;
    transition: 0.3s;
}

.hotel__my-arr.rotate {

    transform: rotate(180deg);
}

.hotel-top__bubble {
    display: none;
    position: absolute;
    top: 25px;
    left: 0;
    background: #ffffff;
    z-index: 1;
    border: 1px solid #ccc;
    box-shadow: 1px 2px 6px 2px rgba(0, 0, 0, 0.11);
    padding: 5px;
    border-radius: 3px;
}

.under-vpn:hover .hotel-top__bubble {
    display: block;
}

.filter-form-field-inp.dropdown.selectbox {
    background: url("../i/arr-down-blue-sm.png") 100% 50% no-repeat;
    color: #ff8e41;
    text-transform: uppercase;
    min-width: 53px!important;
}



.filter-tape .filter-pp {
    height: 346px;
    margin-top: -173px;
}

.tape-short__tbl .head__tbl .bth__cell {
    padding: 7px 10px;
}
.tape-short__tbl .head__tbl .bth__cnt {
    color: #999;
    font-size: 12px;
}
.tape-short__tbl .bth__cell {
    border-bottom: 1px solid #ccc;
    padding: 7px;
}

.tape-short__tbl .bth__cell:first-child {
    width: 120px;
}

.tape-short__tbl .bth__cell:nth-child(2) {
    width: 250px;
}
.tape-short__tbl .bth__cell:last-child {
    width: 150px;
    text-align: right;
}

.profile-dropdown {
    display: inline-block;
    font-size: 10px;
    color: #318cc6;
}


.hint__block {
    position: absolute;
    top: 66px;
    right: 0;
    width: 270px;
    padding: 10px;
    display: none;
    background: rgba(255, 255, 255, 1);
    color: #666;
    font-weight: bold;
    font-size: 13px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.3);
    z-index: 100;
    border-radius: 3px;
    text-align: left;
}

.do__block:hover .hint__block {
    display: block;
}


@media screen and (max-width: 1279px) {
    .bth-tape__img-b {
        margin-right: 6px;
    }
    .bth-tape__img-b:nth-child(3),
    .bth-tape__img-b:nth-child(4) {
        display: none;
    }
    .tape-short__tbl .bth__cell:first-child {
        width: 110px;
    }
    .tape-short__tbl .bth__cell:nth-child(2) {
        width: 230px;
    }
}

@media screen and (max-width: 1023px) {
    .user__ava-block {
        width: 70px;
        height: 70px;
    }
    .tape__tbl .bth__cell:first-child {
        width: 290px;
    }
    .tape__tbl .bth__cell:last-child {
        width: 145px;
    }
    .tape__tbl .bth__link.user-name {
        width: 180px;
        font-size: 14px;
    }
    .bth-tape__img-b {
        margin-right: 2px;
    }
    .hotel-top__cnt.under-vpn {
        display: none;
    }
    .hotel-top__link--abs {
        left:15px;
    }
    .content-tape3 {
        padding-right: 0;
    }
    .hotel-top__my {
        right: 15px;
    }
    .no-ava-let {
        margin-top: 9px;
    }
}

@media screen and (max-width: 768px) {
    .tape__tbl .bth__row {
        display: block;
        position: relative;
    }
    .tape__tbl .bth__cell {
        display: block;
        border-bottom: none;
        border-top: none;
        border-left: 1px solid #F1F1F1;
        border-right: 1px solid #F1F1F1;
        padding: 5px 10px;
    }
    .tape__tbl .bth__cell:first-child {
        width: 100%;
        border-top: 1px solid #F1F1F1;
        padding: 10px 10px 5px;
    }

    .tape__tbl .bth__cell:last-child {
        width: 100%;
        border-bottom: 1px solid #F1F1F1;
        padding: 5px 10px 10px;
        position: relative;
        text-align: left;
    }
    .do__block {
        position: relative;
    }
    .bth-tape2__block .bth-tape__date {
        position: relative;
        right: auto;
        bottom: auto;
    }
    .filter__filter-open {
        right: 10px !important;
    }

    .hotel-top__link--abs {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        top: auto;
        left: auto;
        margin-right: 10px;
    }
    .hotel-top__block {
        padding-left: 15px;
    }
    .hotel-top__cnt-block {
        display: inline-block;
        vertical-align: middle;
    }
    .tape-short__tbl .bth__cell:first-child {
        width: 75px;
    }
    .tape-short__tbl .bth__cell:nth-child(2) {
        width: 210px;
    }
    .page-tape {
        padding-bottom: 78px;
    }
    .hint__block {
        top: 20px;
    }
}

@media screen and (max-width: 639px) {
    .filter__r {
        position: relative!important;
        display: block;
        text-align: right;
        right: auto!important;
        top: auto !important;
        margin-top: 15px;
    }

    .hide-639 {
        display: none;
    }

    .hotel-top__my {
        display: none;
    }
    .hotel-top__block {
        border-top: 1px solid #f1ebd3;
    }
    .tape-short__tbl .bth__cell {
        display: block;
        border-bottom: none;
        padding: 5px 10px;
    }
    .tape-short__tbl .bth__row.head__tbl {
        display: none;
    }
    .tape-short__tbl .bth__cell:first-child,
    .tape-short__tbl .bth__cell:nth-child(2),
    .tape-short__tbl .bth__cell:last-child {
        width: 100%;
    }
    .tape-short__tbl .bth__cell:last-child {
        border-bottom: 1px solid #ccc;
    }
    .filter-tape .filter-pp {
        width: 100%;
        margin-left: 0;
        left: auto;
    }
    .page-tape {
        padding-bottom: 114px;
    }
    .do__block {
        display: block;
        position: relative;
        right: auto;
        top: auto;
        text-align: left;
        margin-bottom: 10px;
    }
    .tape__tbl .bth__cell:last-child {
        text-align: left;
    }
    .hint__block {
        right:auto;
        left: 0;
    }
}

@media screen and (max-width: 479px) {
    .tape__tbl .bth__cell:last-child {
        position: relative;
    }

    .user__info-block {
        display: block;
        width: 100%;
        margin-top: 5px;
    }
    .tape__tbl .bth__link.user-name {
        width: auto;
    }
    .hide-479 {
        display: none;
    }
    .filter-tape .filter-pp {
        height:360px;
    }
    .filter-tape .filter-pp__btn {
        width:100%;
    }
    .filter-tape .filter-pp__link-del {
        display: block;
        text-align: center;
        margin-top: 10px;
    }
    .page-tape {
        padding-bottom: 115px;
    }
    .hint__block {
        width: 250px;
    }
}
