.bth__ttl-h2 {
    font-size: 19px;
    font-family: 'apercu_pro', sans-serif;
    color: #475669;
}

.bth__ttl-h2--small {
    font-weight: normal;
    font-size: 14px;
}

.bth__ttl-h3 {
    font-size: 16px;
    font-family: 'apercu_pro', sans-serif;
    color: #475669;
}

.bth__ttl-h2--abs {
    position: absolute;
    font-size: 19px;
    font-family: 'apercu_pro', sans-serif;
    color: #475669;
    top: -25px;
    left: 5px;
}

.bth__tbl {
    display: table;
    width: 100%;
}

.bth__inp-block.bth__inp-block--36 {
    height: 36px;
}

.bth__row {
    display: table-row;
}

.bth__cell {
    display: table-cell;
    box-sizing: border-box;
}

.bth__cnt {
    font-size: 14px;
    font-family: 'apercu_pro', sans-serif;
    color: #475669;
    line-height: 22px;
}

.bth__cnt--sm {
    font-size: 12px;
    line-height: 20px;
}

.filter-big__top .bth__cnt--big {
    font-size: 16px;
}

.selectize-control.bth__inp.bth__inp--selectize.single .selectize-input {
    height: 100%;
    padding: 0;
}

.selectize-control.bth__inp.bth__inp--selectize {
    border: none !important;
    height: 100%;
    width: 100%;
}

.bth__link {
    position: relative;
    font-size: 14px;
    color: #318CC6;
    font-family: 'apercu_pro', sans-serif;
    text-decoration: none;
    cursor: pointer;
    line-height: 22px;
}

.bth__link--bg {
    font-size: 16px;
}

.bth__link--sm {
    font-size: 12px;
}

.bth__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#datePicker {
    display: none !important;
    height: 0 !important;
    width: 0 !important;
    position: absolute;
}

.bth__inp-block,
.bth__cell .selectize-control {
    position: relative;
    border: 1px solid #ccc;
    width: 500px;
    border-radius: 2px;
    height: 36px;
    box-sizing: border-box;
    background: #fff;
    padding-bottom: 3px;
    font-family: 'apercu_pro', sans-serif;

}

.bth__cell .selectize-input {
    box-shadow: none;
    height: 48px;
    border: none;
    padding-top: 14px;
    font-family: 'apercu_pro', sans-serif;
}

.bth__cell .selectize-input.focus {
    box-shadow: none;
}

.bth__inp {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    padding: 7px;
    font-size: 14px;
    font-family: 'apercu_pro', sans-serif;
    color: #475669;
}

.bth__ta-block {
    position: relative;
    height: 146px;
    width: 500px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background: #fff;
    border-radius: 2px;
}

.bth__ta {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    resize: none;
    border: none;
    padding: 7px;
    font-size: 14px;
    font-family: 'apercu_pro', sans-serif;
    color: #475669;
}

.bth__btn {
    display: block;
    width: 180px;
    background: #fff;
    border: 1px solid #ff8e41;
    padding: 11px 0px 13px 0px;
    box-sizing: border-box;
    border-radius: 2px;
    color: #ff8e41;
    font-size: 15px;
    text-align: center;
    font-family: 'apercu_pro', sans-serif;
}

.bth__btn.bth__btn--fill {
    background: #ff8e41;
    color: white;    width: 240px;
}


.bth__btn.bth__btn--narrow {
    padding: 10px 0;
}
.bth__btn:hover {
    background: #e27200;
    color: #fff;
}

.separator {
    height: 20px;
}

.show-768 {
    display: none;
}

.edit-block__tbl {
    display: table;
    width: 100%;
}

.edit-block__row {
    display: table-row;
}

.edit-block__cell {
    position: relative;
    display: table-cell;
    padding: 15px 0px 15px 0px;
    vertical-align: top;
    box-sizing: border-box;
}

.filter-big .edit-block__inp-block {
    position: relative;
    border: 1px solid #ccc;
    width: 300px;
    border-radius: 2px;
    height: 50px;
    box-sizing: border-box;
    background: #fff;
    padding-bottom: 3px;
}

.edit-block__inp {
    width: 100%;
    height: 100%;
    font-size: 14px;
    box-sizing: border-box;
    font-family: 'apercu_pro', sans-serif;
    color: #475669;
    padding: 3px 10px 2px;
    border: none;
    /*line-height: 36px;*/
    font-weight: bold;
    z-index: 1;
}

.edit-block__ta-block {
    position: relative;
    height: 146px;
    width: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background: #fff;
    /*margin-bottom: 10px;*/
    /*margin-top: 10px;*/
    border-radius: 2px;
}

.edit-block__ta {
    border: none;
    resize: none;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #475669;
    padding: 7px 10px;
    font-family: 'apercu_pro', sans-serif;
}

.show-1279 {
    display: none;
}

.show-1023 {
    display: none;
}

.show-768 {
    display: none;
}

.color-block .edit-block__cell:first-child {
    width: 200px;
}

.edit-block__inp-block.error,
.bth__ta-block.error {
    border-color: #da4c4c;
    box-shadow: 0px 0px 0px 1px #da4c4c;
}

.question-error {
    display: block;
    color: #da4c4c;
    background: #fff;
    font-size: 19px;
}

.SumoSelect:focus > .CaptionCont,
.SumoSelect:hover > .CaptionCont,
.SumoSelect.open > .CaptionCont {
    box-shadow: none;
    border-color: transparent;
}

.SumoSelect > .CaptionCont > span {
    margin-top: 0;
    margin-bottom: 0;
    color: #475669;
    font-size: 14px;
    font-family: 'apercu_pro', sans-serif;
}

.SumoSelect {
    height: 100%;
}

.SelectBox {
    padding: 11px 8px 0px 8px;

}

.SumoSelect > .CaptionCont > span {
    font-size: 14px;
    color: #475669;
    margin-top: 1px;
    margin-bottom: 0;
    font-weight: bold;
    font-family: 'apercu_pro', sans-serif;
    padding-right: 13px;
}

.SumoSelect > .optWrapper > .options li label {
    color: #475669;
}

.SumoSelect > .optWrapper > .options li.opt {
    padding: 10px 6px;
}

.SumoSelect.open .search-txt {
    height: 44px;
    font-size: 14px;
    font-family: 'apercu_pro', sans-serif;
    color: #475669;
    padding: 6px 8px 8px 8px;
}

.SumoSelect > .CaptionCont > label {
    width: 30px;
    top: 0px;
}

.SumoSelect > .CaptionCont > label > i {
    background-image: none;
    width: 13px;
    height: 18px;
    top: -1px;
    right: -1px;
    border-right: none;
    border-bottom: none;
    transition: 0.3s;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 19px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    opacity: 1;
}

.SumoSelect > .CaptionCont > label > i:before {
    content: "\f107";
    color: #999;
}

.SumoSelect.open > .search > label {
    visibility: visible;
    z-index: 10;
}

.SumoSelect {
    height: 50px;
    padding: 0;
}

.SumoSelect > .CaptionCont {
    height: 37px;
    border-radius: 0;
}

.SumoSelect:focus > .CaptionCont,
.SumoSelect:hover > .CaptionCont {
    box-shadow: none;
    border-color: #ccc;
}

.SumoSelect.open > .optWrapper {
    top: 50px;
    font-size: 14px;
    font-family: 'apercu_pro', sans-serif;
}

.SumoSelect.open > .CaptionCont > label > i {
    transform: rotate(180deg);
    top: 0px;
}

.SumoSelect > .optWrapper.isFloating {
    position: relative;
    width: 100%;
    max-height: none;
    top: 0;
}

.SumoSelect > .optWrapper.isFloating > .options li.opt {
    padding: 10px 6px;
}

.SumoSelect .sumoStopScroll {
    overflow: initial;
}

.SumoSelect .selectize-input {
    border: none;
    box-shadow: none;
    padding: 8px 8px 7px 10px;
}

.SumoSelect .selectize-input.dropdown-active::before {
    transform: rotate(180deg);
}

.SumoSelect .selectize-control {
    height: 100%;
}

.SumoSelect .selectize-dropdown {
    margin: 2px 0 0 0;
}

.SumoSelect .selectize-control.single .selectize-input:after {
    display: none;
}

.SumoSelect .selectize-dropdown [data-selectable],
.SumoSelect .selectize-dropdown .optgroup-header {
    font-family: 'apercu_pro', sans-serif;
    color: #475669;
    font-size: 14px;
    border-bottom: 1px solid #f5f5f5;
    padding: 6px 10px;
}

.SumoSelect .selectize-dropdown .active {
    background-color: #E4E4E4;
}

.SumoSelect .selectize-input.focus {
    box-shadow: none;
}

/*.selectize-control.single .selectize-input.input-active,*/
/*.selectize-control.single .selectize-input.input-active input {*/
/*box-shadow:  inset 0px -3px 0px 0px orange;*/
/*}*/

.SumoSelect .selectize-control.single .selectize-input::before,
.SumoSelect .selectize-input.dropdown-active::before {
    content: "\f107";
    position: absolute;
    right: 10px;
    top: 8px;
    color: #999;
    display: inline-block;
    font: normal normal normal 19px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    left: initial;
    bottom: initial;
    background: #fff;
    height: auto;
    transition: 0.3s;
}

.SumoSelect .selectize-control.single .selectize-input:after {
    display: none;
}

.filter-big__block .selectize-input > * {
    font-family: 'apercu_pro', sans-serif;
    color: #475669;
    font-size: 15px;

    max-width: 479px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.SumoSelect .opt {
    background: #fff;
}

.bth__inp-block.focus,
.SumoSelect.open > .CaptionCont {
    box-shadow: inset 0px -3px 0px 0px orange;
    padding-bottom: 37px;
}

.cbx-mark__block {
    margin-top: 10px;
}

.cbx-mark__block .cbx-block {
    display: inline-block;
    margin-right: 5px;
    width: 45px;
    height: 40px;
    box-sizing: border-box;
    padding: 0;
    margin-bottom: 10px;

}

.cbx-mark__block .cbx + .label-cbx {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    border: 1px solid #ccc;
    text-align: center;
    padding-top: 3px;
    cursor: pointer;
    background: #fff;
    border-radius: 2px;
}

.cbx-mark__block .cbx + .label-cbx .cbx-cnt {
    font-size: 20px;
    font-family: 'apercu_pro', sans-serif;
}

.cbx-mark__block .mark5m .cbx + .label-cbx .cbx-cnt {
    color: #00a651;
}

.cbx-mark__block .mark4 .cbx + .label-cbx .cbx-cnt {
    color: #a9ca0a;
}

.cbx-mark__block .mark3 .cbx + .label-cbx .cbx-cnt {
    color: #dfa918;
}

.cbx-mark__block .mark2 .cbx + .label-cbx .cbx-cnt {
    color: #da4c4c;
}

.cbx-mark__block .markRed .cbx + .label-cbx .cbx-cnt {
    color: #ff0d00;
}

.cbx-mark__block .mark0 .cbx + .label-cbx .cbx-cnt {
    color: #999;
}

.cbx-mark__block .mark5m .cbx:checked + .label-cbx {
    background: #00a651;
}

.cbx-mark__block .mark5 .cbx:checked + .label-cbx {
    background: #75b71f;
}

.cbx-mark__block .mark4 .cbx:checked + .label-cbx {
    background: #a9ca0a;
}

.cbx-mark__block .mark3 .cbx:checked + .label-cbx {
    background: #dfa918;
}

.cbx-mark__block .mark2 .cbx:checked + .label-cbx {
    background: #da4c4c;
}

.cbx-mark__block .markRed .cbx:checked + .label-cbx {
    background: #df0d00;
}

.cbx-mark__block .mark0 .cbx:checked + .label-cbx {
    background: #999;
}

.cbx-mark__block .mark5-veryRed .cbx + .label-cbx .cbx-cnt {
    color: #ff2300;
}

.cbx-mark__block .mark5-veryRed .cbx:checked + .label-cbx {
    background: #ff0025;
}

.cbx-mark__block .cbx:checked + .label-cbx .cbx-cnt {
    color: #fff;
}

.cbx-mark__block .cbx + .label-cbx::after,
.cbx-mark__block .cbx + .label-cbx::before {
    display: none;
}

.cbx-mark__block .cbx-block.cbx-block--sm {
    width: 40px;
    height: 35px;
}

.cbx-mark__block .cbx-block.cbx-block--sm .cbx + .label-cbx {
    padding-top: 1px;
}

/*Ñ€Ð°Ð´Ð¸Ð¾*/
.rbt-block {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-family: 'apercu_pro', sans-serif;
    font-weight: bold;
    width: auto;
    margin-right: 22px;
    /*margin-bottom: 10px;*/
    line-height: 21px;
}

.rbt {
    display: none;
}

.rbt + .label-rbt {
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-size: 14px;
    line-height: normal;
    padding-left: 20px
}

.rbt + .label-rbt::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0px;
    width: 16px;
    height: 16px;
    background: #fff;
    border: 2px solid #475669;
    border-radius: 50%;
    box-sizing: border-box;
}

.rbt:checked + .label-rbt::after {
    content: '';
    position: absolute;
    top: 6px;
    left: 4px;
    width: 8px;
    height: 8px;
    background: #475669;

    border-radius: 50%;
}

.rbt:checked + .subs-rbt {
    color: #475669;
}

.rbt-cnt {
    display: inline-block;
    vertical-align: top;
    color: #475669;
    cursor: pointer;
    font-size: 14px;
    font-family: 'apercu_pro', sans-serif;
}

.rbt-block:last-child {
    margin-right: 0;
}

.tabs-block {
    position: relative;
}

.section--grey {
    position: relative;
    padding: 15px;
    background: #e4e5ea;
}

.selectize-control.bth__inp--selectize {
    border: none;
    width: 100%;
    height: 100%;
}

.bth__datepicker-block {
    position: relative;
}

.bth__datepicker-block + div {
    position: absolute;
    top: 62px !important;
    left: 0 !important;
    background: #fff;
    z-index: 101;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5)
}

.bth__datepicker-inp {
    font-size: 15px;
    font-weight: bold;
    color: #475669;
}

.bth__datepicker-block {
    padding-top: 12px;
    padding-left: 10px;
}

.bth__inp-block.has-error {
    border-color: #da4c4c;
    position: relative;
    box-shadow: 0px 0px 0px 1px #da4c4c;
}

.error-hint {
    display: none;
    position: absolute;
    right: 5px;
    top: 7px;
}

.error-hint .fa {
    color: #da4c4c;
    font-size: 19px;
}

.bth__inp-block.has-error .error-hint {
    display: block;
}

.error-hint:hover .hint {
    display: block !important;
    top: 20px;
    right: 0;
}
.bth__inp-block-plus {
    position: absolute;
    right: -30px;
    font-size: 17px;
    top: 10px;
}

.bth__inp-block.bth__inp-block--36 .selectize-dropdown {
    padding: 0;
}

.bth__inp-block.bth__inp-block--36 .selectize-control.single .selectize-input, .selectize-control.single .selectize-input input {
    padding-top: 8px;
    height: 100%;
}

.bth__inp-block.bth__inp-block--36 .selectize-control {
    padding: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.filter-big__tbl  .bth__row .bth__cell .filter-big__Selectize  .selectize-input {
    height: 100%;
    padding: 9px;
    width: 100%;
    box-sizing: border-box;
}
.filter-big__tbl  .bth__row .bth__cell .filter-big__Selectize .selectize-control {
    border: none;
    background: transparent;
    height: 100%;
    padding: 0;    width: 100%;
}

@media screen and (max-width: 1279px) {
    .show-1279 {
        display: inline-block !important;
    }

    .hide-1279 {
        display: none !important;
    }
}

@media screen and (max-width: 1023px) {
    .hide-1023 {
        display: none !important;
    }

    .show-1023 {
        display: inline-block !important;
    }
}

@media screen and (max-width: 768px) {
    .hide-768 {
        display: none !important;
    }

    .show-768 {
        display: inline-block !important;
    }
}

@media screen and (max-width: 639px) {
    .hide-639 {
        display: none !important;
    }

    .show-639 {
        display: inline-block !important;
    }
    .bth__inp-block--multi {
        width: 90%!important;
    }
}