.other-tabs-bar {
    position: relative;
    font-size: 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    font-family: 'apercu_pro', sans-serif;
}

.other-tab {
    display: inline-block;
    width: auto;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    line-height: 20px;
    padding: 0px 0px 15px 0px;
    margin-right: 20px;
    color: #318cc6;
}

.other-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 61px;
    height: 3px;
    background: #475669;
}

.other-tab.active {
    color: #475669;
}

@media screen and (max-width: 659px) {
    .other-city td:nth-child(4):before {
        content: 'Аккредитованных';
    }

    .other-city td:nth-child(5):before {
        content: 'Доля грода';
    }

    .other-statistic td:nth-child(3):before {
        content: 'Удалено';
    }

    .other-statistic td:nth-child(4):before {
        content: 'Аккредитованных';
    }

    .other-statistic td:nth-child(2):before {
        content: 'Всего';
    }

    .other-statistic td:nth-child(5):before {
        content: 'Снято';
    }

    .other-principals td:nth-child(2):before {
        content: 'Доверитель';
    }

    .other-principals td:last-of-type:before {
        content: 'За месяц';
    }

}

