.polls-tabs-bar {
    position: relative;
    font-size: 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    font-family: 'apercu_pro', sans-serif;
}

.polls-tab {
    display: inline-block;
    width: auto;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    line-height: 20px;
    padding: 0px 0px 15px 0px;
    margin-right: 20px;
    color: #318cc6;
}

.polls-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 103px;
    height: 3px;
    background: #475669;
}

.polls-tab.active {
    color: #475669;
}

.count-polls {
    font-weight: bold;
    display: inline-block;
    width: 30px;
}

@media screen and (max-width: 659px) {

    .polls-tb td:nth-child(2):before {
        content: 'Добавил';
    }

    .polls-tb td:nth-child(4):before {
        content: 'Кол-во / Проект';
    }

    .polls-tb td:nth-child(5):before {
        content: 'Кол-во / Проект';
    }

    .polls-tb td:nth-child(6):before {
        content: 'Тема опроса / Тип';
    }

    .polls-tb td:nth-child(7):before {
        content: 'Добавилось / ответы';
    }

}