.settings-by-city-tabs-bar {
    position: relative;
    font-size: 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    font-family: 'apercu_pro', sans-serif;
}

.settings-by-city-tab {
    display: inline-block;
    width: auto;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    line-height: 20px;
    padding: 0px 0px 15px 0px;
    margin-right: 20px;
    color: #318cc6;
}

.settings-by-city-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 261px;
    height: 3px;
    background: #475669;
}

.settings-by-city-tab.active {
    color: #475669;
}

.settings-by-city-tabs-bar .tab-hide {
    display: none;
}